
 .icon-calendar:before {
 	content: "";
 	height: 20px;
 	width: 20px;
 	display: inline-block;
 	position: absolute;
 	background: url(images/icons.png) no-repeat -90px -3px;
 }
 .icon-login:before {
 	content: "";
 	position: absolute;
 	top: 7px;
 	left: 8px;
 	height: 20px;
 	width: 20px;
 	display: inline-block;
 	background: url(images/icons.png) no-repeat -119px 0px;
 }
 .icon-signup:before {
 	content: "";
 	position: absolute;
 	top: 7px;
 	left: 8px;
 	height: 20px;
 	width: 20px;
 	display: inline-block;
 	background: url(images/icons.png) no-repeat -148px 0px;
 }
 .icon-search:before {
 	content: url(images/search.png);
 	height: 28px;
 	width: 27px;
 }
 .icon-clock:before {
 	content: "";
 	position: absolute;
 	height: 26px;
 	width: 26px;
 	display: inline-block;
 	background: url(images/icons.png) no-repeat 0px 0px;
 }
 .icon-map-marker:before {
 	content: "";
 	position: absolute;
 	height: 26px;
 	width: 26px;
 	display: inline-block;
 	background: url(images/icons.png) no-repeat -34px 0px;
 }
 .icon-user:before {
 	content: url(images/icons/icon-user.png);
 	height: 26px;
 	width: 30px;
 }
 .icon-mail:before {
 	content: url(images/icons/icon-mail.png);
 	height: 29px;
 	width: 31px;
 }
 .icon-password:before {
 	content: url(images/icons/icon-key.png);
 	height: 14px;
 	width: 31px;
 }
 .icon-password-toggle:before {
 	content: "";
 	position: absolute;
 	height: 15px;
 	width: 24px;
 	display: inline-block;
 	background: url(images/icons/icon-eye.png) no-repeat 0px 0px;
 }

/*--------------------
 *	Defaults
 /*------------------*/

 * {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }
 :after, :before {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 	font-family: 'ProximaNova-Regular';
 	font-size:16px;
 	color:#333333;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }
 img{
 	max-width:100%;
 	display: block;
 	height: auto;
 }
 a, a:hover{
 	text-decoration: none;
 }
 h4{
 	font-size:26px;
 	color:#000000;
 	margin-top: 20px;
 	margin-bottom: 10px;
 }
 strong {
 	font-weight: 700;
 }
 .clear:before{
 	display:table;
 	content:"";
 }
 .clear:after{
 	display:table;
 	content:"";
 	clear:both;
 }
 .text-center{
 	text-align:center;
 }
 .container{
 	width: 1170px;
 	margin:0px auto;
 	padding:0px 15px;
 }
 .container:before,
 .container:after {
 	display:table;
 	content:"";
 }
 .container:after {
 	clear: both;
 }
 .row {
 	margin-left: -15px;
 	margin-right: -15px;
 }
 .row:before,
 .row:after {
 	display:table;
 	content:"";
 }
 .row:after {
 	clear: both;
 }
 h3{
 	font-size: 32px;
 	color: #000000;
 	text-align:center;
 }
 .form-control {
 	display: block;
 	width: 100%;
 	height: 34px;
 	padding: 6px 12px;
 	font-size: 14px;
 	line-height: 1.42857143;
 	color: #555;
 	background-color: #fff;
 	background-image: none;
 	border: 1px solid #ccc;
 	outline: none;
 }
 .btn {
 	display: inline-block;
 	padding: 6px 12px;
 	margin-bottom: 0;
 	font-size: 14px;
 	font-weight: 400;
 	line-height: 1.42857143;
 	text-align: center;
 	white-space: nowrap;
 	vertical-align: middle;
 	-ms-touch-action: manipulation;
 	cursor: pointer;
 	-webkit-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	background-image: none;
 	border: 1px solid transparent;
 	outline: none;
 }

/*--------------------
 *	Home Page
 /*------------------*/

 /* Header */
 header {
 	background-size: cover !important;
 }
 header .logo{
 	float:left;
 	width:160px;
 }
/*header{
	padding:12px 0px;
	position:relative;
	z-index: 8989;
	}*/
	header nav {
		position: relative;
		border-bottom: 2px solid rgba(255,255,255,.25);
	}
	header nav .nav-header button.nav-toggle {
		display: none;
		float: right;
		margin: 18px 0;
		font-size: 18px;
		padding: 2px 8px;
		background-color: #cc071e;
		color: #ffffff;
	}
	header nav .nav-header .logo {
		padding: 15px 0;
	}
	header nav .nav-collapse {
		display: block;
		padding-top: 35px;
		float: right;
	}
	header nav .nav-collapse ul {
		float: left;
	}
	header nav .nav-collapse ul > li {
		list-style-type: none;
		display: inline-block;
		position: relative;
	}
	header nav .nav-collapse ul > li > a {
		display: block;
		color: #ffffff;
		font-family: 'ProximaNova-Semibold';
		font-size: 16px;
		padding: 13px 22.5px;
		text-transform: uppercase;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
		-ms-transition: all .3s;
		transition: all .3s;
	}
	header nav .nav-collapse ul > li.active > a,
	header nav .nav-collapse ul > li > a:hover {
		background-color: #cc071e;
		color: #ffffff;
	}
	header nav .nav-collapse ul.account {
		float:left;
	}
	header nav .nav-collapse ul.account li {
		margin-left: 15px;
	}
	header nav .nav-collapse ul.account li:first-child {
		margin-left: 0;
	}
	header nav .nav-collapse ul.account li a {
		color: #ffffff;
		background: #5e626a;
		padding: 13px 16px 13px 36px;
		display: block;
		position:relative;
	}

	/* Dropdown Menu */
	header nav .nav-collapse ul > li:hover > ul {
		display: block;
	}
	header nav .nav-collapse ul > li > ul {
		display: none;
		max-width: 329px;
		min-width: 329px;
		position: absolute;
		left: -80px;
		z-index: 999;
	}
	header nav .nav-collapse ul > li > ul > li {
		display: block;
		border-bottom: 1px solid rgba(180,180,180,0.35);
		position: relative;
		top: 20px;
		background-color: #555555;
	}
	header nav .nav-collapse ul > li > ul > li:last-child {
		border-bottom: 0;
	}
	header nav .nav-collapse ul > li > ul > li > a {
		line-height: 24px;
		text-transform: inherit;
		font-size: 18px;
		font-family: 'ProximaNova-Regular';
	}
	header nav .nav-collapse ul > li > ul > li > a i.fa {
		position: absolute;
		right: 15px;
		top: 15px;
		z-index: 999;
	}
	header nav .nav-collapse ul > li > ul > li > ul {
		position: absolute;
		left: 330px;
		top: 0;
	}
	header nav .nav-collapse ul > li > ul > li > ul > li {
		top: 0;
	}

	/* Search Job */
	header .searchJob {
		padding: 195px 0;
	}
	header .searchJob h1 {
		font-family: 'ProximaNova-Semibold';
		font-size: 62px;
		color: #ffffff;
		text-align: center;
	}
	header .searchJob p {
		font-family: 'ProximaNova-Light';
		font-size: 21px;
		color: #ffffff;
		text-align: center;
		margin-top: 2px;
	}
	header .searchJob p strong {
		font-family: 'ProximaNova-Bold';
	}

	/* Form */
	header .searchJob form {
		margin: 32px 0;
	}
	header .searchJob form .inputItems {
		width: 91%;
		float: left;
		padding-right: 10px;
	}
	header .searchJob form .inputItems .form-group {
		width: 50%;
		float: left;
		position: relative;
	}
	header .searchJob form .inputItems .form-group .input-icons {
		position: absolute;
		top: 15px;
		right: 50px;
	}
	header .searchJob form .inputItems .form-group .input-icons.icon-map-marker {
		right: 40px;
	}
	header .searchJob form .inputItems .form-group:nth-child(odd) {
		padding-right: 10px;
	}
	header .searchJob form .inputItems .form-group:nth-child(even) {
		padding-left: 10px;
	}
	header .searchJob form .inputItems .form-group input {
		min-height: 59px;
		font-family: 'ProximaNova-Regular';
		font-size: 18px;
	}
	header .searchJob form .searchBtn {
		width: 9%;
		float: left;
		padding-left: 10px;
	}
	header .searchJob form .searchBtn button {
		width: 100%;
		padding: 12px;
		background-color: #cc071e;
	}

	/* Browse Keywords */
	header .searchJob .browseKeywords p {
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		display: inline-block;
		margin-right: 20px;
	}
	header .searchJob .browseKeywords ul {
		display: inline-block;
		font-family: 'Roboto', sans-serif;
	}
	header .searchJob .browseKeywords ul > li {
		list-style-type: none;
		display: inline-block;
		margin-right: 5px;
	}
	header .searchJob .browseKeywords ul > li > a {
		display: block;
		color: #ffffff;
		background: rgba(253, 253, 253, 0.21);
		border: 1px solid #8b8b8b;
		padding: 7px 10px;
		border-radius: 2px;
		font-size: 14px;
	}

	/* What We Do */
	.whatWeDo{
		padding: 66px 0px;
		text-align: center;
	}
	.whatWeDo .innerHead{	
		font-size: 16px;	
		color: #333333;	
		line-height: 20px;
		margin: 12px 0px;
	}
	.serviceList{
		padding-top: 31px;
	}
	.serviceList li{
		float: left;
		width: 18.4%;
		margin-right: 2%;
		padding: 15px;	
		box-sizing: border-box;	
		background: #ededed;	
		min-height: 195px;
	}
	.serviceList li .imgContainer {
		margin-top: 20px;
	}
	.serviceList li .imgContainer img {
		margin: 0px auto;
	}
	.serviceList li:last-child{
		margin-right:0px;
	}
	.serviceList .descrp{
		height: 70px;
		width: 100%;
		display: table;
	}
	.serviceList .descrp p{
		height: 100%;
		width: 100%;
		display: table-cell;
		vertical-align: bottom;
		padding: 10px 0px;
		font-size: 15px;
		line-height: 19px;
	}
	.serviceList .descrp p span {
		display: block;
	}

	/* Latest News */
	.latestNews {
		background: url('images/newsback.jpg') no-repeat 0px 0px;
		padding: 62px 0px 58px 0;
		background-size: cover;
	}
	.latestNews h3 {
		color:#ffffff;
	}
	.latestNews .innerHead {
		color:#ffffff;
		margin: 15px 0px;
		line-height: 20px;
	}
	.newsWrapp .list .owl-item {
		float: left;
		background: #ffffff;
		padding: 15px;
	}
	.newsWrapp .list .owl-item:last-child{
		margin-right:0px;
	}
	.newsWrapp .list .nwsimg{
		width: 100%;
		height: 194px;
		display: table;
	}
	.newsWrapp .list .nwsimg .adjustimg{	
		height: 100%;	
		width: 100%;	
		display: table-cell;	
		text-align: center;	
		vertical-align: middle;
	}
	.newsWrapp .list .nwsimg .adjustimg img{	
		max-height: 194px;
	}
	.newsWrapp .list .date:before{
		content:"";
		height:20px;
		width:20px;
		display:inline-block;
		position:absolute;
		top: 11px;
		left: 1px;
		background: url('images/icons.png') no-repeat -90px -3px;
	}
	.newsWrapp .list .date{	
		color: #7b7b7b;
		font-size: 13px;
		position:relative;
		padding: 17px 5px 6px 30px;
	}
	.newsWrapp .list h4{	
		font-size: 18px;	
		margin-top: 10px;
	}
	.newsWrapp .list h4 a{	
		color: #000000;	
		line-height: 22px;
	}
	.newsWrapp .list p{	
		margin-bottom: 8px;
		line-height: 19px;
	}
	.latestNews .newsWrapp{
		margin-top:40px;
	}
	#NewsSlider .owl-controls .owl-dots {
		display: none !important;
	}
	#NewsSlider .owl-controls .owl-nav [class*="owl-"] {
		font-size: 0;
		width: 44px;
		height: 51px;
		position: absolute;
		top: 39%;
		border-radius: 0;
	}
	#NewsSlider .owl-controls .owl-nav .owl-prev {
		background: url(images/prev.png) no-repeat center;
		left: -5%;
	}
	#NewsSlider .owl-controls .owl-nav .owl-next {
		background: url(images/next.png) no-repeat center;
		right: -5%;
	}

	/* How We Do */
	.howWeDo{
		background:#f0f0f0 url('images/gradient.png') no-repeat 0px 0px;
		padding: 55px 0px 89px 0;
		background-size: cover;
	}
	.howWeDo .title p{
		margin: 16px 0px;
		line-height: 21px;
		text-align: center;
	} 
	.howWeDo .headCircle{
		background: url('images/steps.png') no-repeat center;
		height: 575px;
		width: 518px;
		display: table;
		margin: 173px auto 125px;
		position:relative;
	}
	.howWeDo .headCircle h2{
		height: 100%;
		width: 100%;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		font-family: 'ProximaNova-Black';
		font-size: 38px;
		text-transform: uppercase;
		padding: 0px 76px;
		box-sizing: border-box;
	}
	.headCircle .coreserv .iconContainer {
		height: 72px;
	}
	.headCircle .coreserv .iconContainer img {
		margin: 0px auto;
	}

	.howWeDo .headCircle .coreserv{
		position:absolute;
		width:200px;
		text-align: center;
		left: -200px;
		top: 108px;
	}
	.headCircle .coreserv .servicon{
		height: 72px;
		width: 62px;
		display:inline-block;
		background: url('images/core-services.png') no-repeat 9px 4px;
	}

	.headCircle .coreserv.professionals{
		left: 148px;
		top: -124px;
	}
	.headCircle .coreserv.professionals .servicon{
		background-position: -138px -4px;
	}

	.headCircle .coreserv.longList{
		left: inherit;
		top: -71px;
		right: -58px;
	}
	.headCircle .coreserv.longList .servicon{
		background-position: -207px -7px;
	}

	.headCircle .coreserv.question{
		left: inherit;
		top: 117px;
		right: -205px;
	}
	.headCircle .coreserv.question .servicon{
		background-position: -286px -6px;
	}

	.headCircle .coreserv.criteria{
		left: inherit;
		top: inherit;
		right: -198px;
		bottom: 145px;
	}
	.headCircle .coreserv.criteria .servicon{
		background-position: -350px -6px;
	}

	.headCircle .coreserv.skills{left: inherit;top: inherit;right: -63px;bottom: -60px;}
	.headCircle .coreserv.skills .servicon{
		background-position: -418px -6px;
	}

	.headCircle .coreserv.shortListed{left: inherit;top: inherit;right: 160px;bottom: -130px;}
	.headCircle .coreserv.shortListed .servicon{
		background-position: -629px -6px;
	}

	.headCircle .coreserv.present{
		left: -64px;
		top: inherit;
		bottom: -49px;
	}
	.headCircle .coreserv.present .servicon{
		background-position: -559px -6px;
	}

	.headCircle .coreserv.interview{
		left: -186px;
		top: 340px;
	}
	.headCircle .coreserv.interview .servicon{
		background-position: -486px -6px;
	}

	.headCircle .coreserv.feedback{
		left: -73px;
		top: -59px;
	}
	.headCircle .coreserv.feedback .servicon{
		background-position: -64px -6px;
	}

	/* Latest Hot Jobs */
	.mapLocation{
		padding:61px 0px 69px 0;
	}
	.mapLocation .innerHead{
		margin:20px 0px;
	}
	.mapLocation .mapContainer {
		margin-top: 45px;
	}

	/* Why MTU */
	.whyMtu {
		padding: 48px 0 66px 0;
		background:#3b5a67;
	}
	.whyMtu h3{
		color:#ffffff;
		margin-top: 8px;
	}
	.whyMtu .innerHead{
		color:#ffffff;
		margin: 15px 0px;
		line-height: 19px;
	}
	.tabWrapper .control{
		padding:20px 0px;
	}
	.tabWrapper .control > li{
		display: inline-block;
		margin-right: 19px;
	}
	.tabWrapper .control > li a{
		padding: 13px 30px;
		display: block;
		color: #ffffff;
		font-size: 18px;
		font-family: 'ProximaNova-Light';
		border: 1px solid #ffffff;
		border-radius: 2px;
	}
	.tabWrapper .control > li a:hover,
	.tabWrapper .control > li a.active{
		background:#cc071e;
		border-color:#cc071e;
	}
	.tabWrapper .contentBox{
		margin-top: 27px;
	}
	.tabWrapper .contentBox .imgBox{	
		float: left;	
		width: 33%;
	}
	.contentBox .tabinfo{
		float: right;
		width: 64.5%;
	}
	.contentBox .tabinfo h4{
		margin-top: 25px;
	}
	.contentBox .tabinfo p{
		font-size: 15px;
		line-height: 19px;
	}
	.contentBox .tabinfo ul.list{
		margin-top: 35px;
	}
	.contentBox .tabinfo .list li:before{
		content:"";
		height:10px;
		width:10px;
		top: 2px;
		left: 0px;
		display:inline-block;
		position: absolute;
		background: url('images/icons.png') no-repeat -176px -8px;
	}
	.contentBox .tabinfo .list li{
		position:relative;
		display: inline-block;
		width: 30%;
		margin: 7px 0px;
		padding-left: 18px;
	}
	.contentBox .tabcontentMain.current{
		display:block;
	}
	.contentBox .tabcontentMain:before{
		content:"";
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid #ffffff;
		position:absolute;
		left: 19%;
		top: -15px;
	}
	.contentBox #tab-2.tabcontentMain:before{
		left: 39%;
	}
	.contentBox #tab-3.tabcontentMain:before{
		left: 66%;
	}
	.contentBox .tabcontentMain{
		display:none;
		position:relative;
		padding: 20px;
		background: #ffffff;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		box-shadow: 0px 0px 28px 3px #292929;
		-webkit-box-shadow: 0px 0px 28px 3px #292929;
		-moz-box-shadow: 0px 0px 28px 3px #292929;
		-o-box-shadow: 0px 0px 28px 3px #292929;
		-ms-box-shadow: 0px 0px 28px 3px #292929;
	}

	/* Why MTU */
	.whyMtu .tabArea {
		margin-top: 36px;
	}
	.whyMtu .tabArea .tabs {
		text-align: center;
	}
	.whyMtu .tabArea .resp-tabs-list:before,
	.whyMtu .tabArea .resp-tabs-list:after {
		content: '';
		display: table;
	}
	.whyMtu .tabArea .resp-tabs-list:after {
		clear: both;
	}
	.whyMtu .tabArea .resp-tabs-list li {
		background-color: transparent !important;
		border: 1px solid #ffffff !important;
		font-family: 'ProximaNova-Light' !important;
		font-size: 18px;
		color: #ffffff !important;
		border-radius: 4px;
		padding: 13px 43px;
		font-weight: 300;
		float: none !important;
		display: inline-block;
		margin-right: 30px;
		position: relative;
	}
	.whyMtu .tabArea .resp-tabs-list li:last-child {
		margin-right: 0;
	}
	.whyMtu .tabArea .resp-tabs-list li.resp-tab-active {
		background-color: #cc071e !important;
		border-color: #cc071e !important;
		padding: 13px 43px !important;
	}
	.whyMtu .tabArea .resp-tabs-container {
		margin-top: 45px;
		border: none !important;
		box-shadow: 0 0 20px rgba(0,0,0,.75);
		border-radius: 4px;
	}
	.whyMtu .tabArea .resp-tabs-container .resp-tab-content {
		border: none !important;
		position: relative;
	}
	.whyMtu .tabArea .resp-tabs-container .resp-tab-content-active {
		position: relative;
	}
	.whyMtu .tabArea .resp-tabs-list li.resp-tab-active:after {
		content: "";
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid #ffffff;
		position: absolute;
		left: 32%;
		bottom: -46px;
	}
	.whyMtu .tabArea .tabItem:before,
	.whyMtu .tabArea .tabItem:after {
		content: '';
		display: table;
	}
	.whyMtu .tabArea .tabItem:after {
		clear: both;
	}
	.whyMtu .tabArea .tabItem .imgContainer {
		width: 33.33%;
		float: left;
		padding-right: 15px;
	}
	.whyMtu .tabArea .tabItem .contentArea {
		width: 66.66%;
		float: left;
		padding-left: 15px;
	}
	.whyMtu .tabArea .tabItem .contentArea h3 {
		color: #000000;
		font-size: 26px;
		text-align: left;
		margin-top: 30px;
	}
	.whyMtu .tabArea .tabItem .contentArea p {
		color: #333333;
		font-family: 'ProximaNova-Regular';
		font-size: 15px;
		text-align: justify;
		line-height: 23px;
		margin-top: 6px;
	}
	.whyMtu .tabArea .tabItem .contentArea ul {
		margin-top: 40px;
	}
	.whyMtu .tabArea .tabItem .contentArea ul > li {
		color: #333333;
		font-family: 'ProximaNova-Regular';
		font-size: 15px;
		width: 33.33%;
		float: left;
		position: relative;
		padding-left: 18px;
		margin-bottom: 10px;
	}
	.whyMtu .tabArea .tabItem .contentArea ul > li:before {
		content: "";
		height: 10px;
		width: 10px;
		top: 2px;
		left: 0px;
		display: inline-block;
		position: absolute;
		background: url(images/icons.png) no-repeat -176px -8px;
	}

	/* Footer */
	footer .footer-top{
		background:#202020;
		padding:20px 0px 22px 0;
		color:#ffffff;
	}
	footer h5{
		font-size: 18px;
		position:relative;
		margin: 32px 0px 38px;
	}
	footer h5:after{
		content:"";
		height:1px;
		width:100px;
		background: #cc071e;
		display:inline-block;
		position:absolute;
		bottom: -10px;
		left:0px;
	}
	footer .contact{
		width: 25.7%;
		float: left;
		padding-left: 0 !important;
	}
	footer  .footRow{	
		padding: 0px 30px;	
		box-sizing: border-box;	
		border-right: 1px solid #333333;
	}
	footer  .footRow.services{
		border-right:0px;
		padding-right: 0;
		padding-left: 97px;
	}
	footer .users{
		float: left;
		width: 42.7%;
		padding-left: 98px;
		border-right: none;
	}
	footer .users .userList.userListPadd {
		padding-left: 15px;
	}
	footer .services{
		float: left;
		width: 31.5%;
		border-left: 1px solid #333333;
	}
	.contactList {
		width: 50%;
		float: left;
	}
	.contactList.leftPadd {
		padding-left: 42px;
	}
	.contactList li{
		min-height: 95px;
	}
	.contactList li h6{	
		padding-bottom: 10px;	
		font-family: 'ProximaNova-Semibold';	
		font-size: 15px;
	}
	.contactList li p{	
		font-size: 15px;	
		font-family: 'ProximaNova-Light';
	}
	.contactList li p a {
		color: inherit;
	}
	.footer-top a:hover {
		text-decoration: underline;
	}
	.contactList li:before{
		content:"";
		height:20px;
		width:20px;
		display:inline-block;
		position:absolute;
		top: -3px;
		left: -2px;
		background: url('images/footer.png') no-repeat 0px 0px;
	}
	.contactList li.email:before{
		background-position: -56px 0px;
	}
	.contactList li.phone:before{
		background-position: -27px 0px;
	}
	.contactList li.skype:before{
		background-position: -87px 0px;
	}
	.contactList li{
		position:relative;
		padding-left: 30px;
		box-sizing: border-box;
	}
	.footRow .userList{
		float: left;
		width: 50%;
	}
	.services.footRow .userList{
		float: none;
		width: 100%;
	}
	.footRow .userList .innerlbl{	
		margin-bottom: 15px;	
		display: block;	
		font-size: 15px;
	}
	.services.footRow .userList {
		margin-top: -5px;
	}
	.services.footRow .userList li a {
		padding: 0 0 10px 0;
	}
	.footRow .userList li a{	
		padding: 7px 0px;	
		display: inline-block;	
		font-family: 'ProximaNova-Light';	
		font-size: 15px;	
		color: #ffffff;
	}
	.social li{	
		display: inline-block;	
		height: 30px;	
		width: 30px;	
		margin-right: 8px;
	}
	.social li:last-child {
		margin-right: 0;
	}
	.social li a{	
		height: 100%;	
		width: 100%;	
		display: block;	
		background: #666666 url('images/footer.png') no-repeat -110px 4px;
	}
	.social li.twitter a{
		background-position: -140px 3px;
	}
	.social li.google a{
		background-position: -172px 3px;
	}
	.social li.linkedin a{
		background-position: -202px 4px;
	}

	/* Footer Bottom */
	footer .footer-bottom {
		background-color: #0f0f0f;
		padding: 20px 0;
	}
	footer .footer-bottom p {
		color: #cccccc;
		font-size: 13px;
		font-family: 'ProximaNova-Light';
	}

/*--------------------
 *	News Page
 /*------------------*/

 /* News Page */
 .newsPage {
 	background-image: url(images/new-banner.jpg);
 }
 .newsPage .banner-info {
 	padding-top: 6.5%;
 	padding-bottom: 5.5%;
 }

 /* News Content Area */
 .newsContentArea {
 	padding: 53px 0 60px 0;
 }
 .newsContentArea:before,
 .newsContentArea:after {
 	content: '';
 	display: table;
 }
 .newsContentArea:after {
 	clear: both;
 }
 .newsContentArea .newsFeedColumn {
 	width: 66.66%;
 	float: left;
 	padding-right: 9px;
 }
 .newsContentArea .newsFeedColumn:before,
 .newsContentArea .newsFeedColumn:after {
 	content: '';
 	display: table;
 }
 .newsContentArea .newsFeedColumn:after {
 	clear: both;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper {
 	width: 50%;
 	float: left;
 	margin: 15px 0;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper:nth-child(odd) {
 	padding-right: 15px;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper:nth-child(even) {
 	padding-left: 15px;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem {
 	border: 1px solid #cccccc;
 	padding: 15px;
 	min-height:480px;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem .imgContainer img {
 	width: 100%;
 	max-width: 100%;
 	display: block;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem .publishDetails {
 	padding: 23px 0 0 0;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem .publishDetails:before,
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem .publishDetails:after {
 	content: '';
 	display: table;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem .publishDetails:after {
 	clear: both;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem .publishDetails .date {
 	position: relative;
 	padding-left: 30px;
 	float: left;
 	font-family: 'ProximaNova-Semibold';
 	font-size: 13px;
 	color: #7b7b7b;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem .publishDetails .date .icon-calendar:before {
 	left: 0;
 	top: -5px;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem .publishDetails .publishBy {
 	float: right;
 	font-family: 'ProximaNova-Semibold';
 	font-size: 13px;
 	color: #cc071e;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem h4 {
 	font-family: 'ProximaNova-Regular';
 	font-size: 18px;
 	color: #000000;
 	margin-top: 18px;
 	line-height: 22px;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem h4 a {
 	color: inherit;
 }
 .newsContentArea .newsFeedColumn .newsItemWrapper .newsItem p {
 	font-family: 'ProximaNova-Regular';
 	font-size: 15px;
 	color: #333333;
 	line-height: 19px;
 	margin-bottom: 2px;
 }

 /* Sidebar */
 .newsContentArea .sidebarColumn {
 	width: 33.33%;
 	float: left;
 	padding-left: 21px;
 	margin-top: 15px;
 }
 .newsContentArea .sidebarColumn .searchWidget h2 {
 	font-family: 'ProximaNova-Regular';
 	font-size: 24px;
 	color: #000000;
 }
 .newsContentArea .sidebarColumn .searchWidget form .input-group {
 	position: relative;
 	margin-top: 14px;
 }
 .newsContentArea .sidebarColumn .searchWidget form .input-group input {
 	font-family: 'ProximaNova-Regular';
 	font-size: 16px;
 	display: block;
 	width: 100%;
 	height: 48px;
 	padding: 18px 12px;
 	line-height: 1.42857143;
 	color: #555;
 	background-color: #fff;
 	background-image: none;
 	border: 1px solid #ccc;
 }
 .newsContentArea .sidebarColumn .searchWidget form .input-group input:focus {
 	outline: none;
 }
 .newsContentArea .sidebarColumn .searchWidget form .input-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 	color: #cccccc;
 }
 .newsContentArea .sidebarColumn .searchWidget form .input-group input::-moz-placeholder { /* Firefox 19+ */
 	color: #cccccc;
 }
 .newsContentArea .sidebarColumn .searchWidget form .input-group input:-ms-input-placeholder { /* IE 10+ */
 	color: #cccccc;
 }
 .newsContentArea .sidebarColumn .searchWidget form .input-group input:-moz-placeholder { /* Firefox 18- */
 	color: #cccccc;
 }
 .newsContentArea .sidebarColumn .searchWidget form .input-group button {
 	display: inline-block;
 	padding: 8px 18px;
 	margin-bottom: 0;
 	font-size: 20px;
 	font-weight: 400;
 	line-height: 1.42857143;
 	text-align: center;
 	white-space: nowrap;
 	vertical-align: middle;
 	-ms-touch-action: manipulation;
 	cursor: pointer;
 	-webkit-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	background-image: none;
 	border: 1px solid transparent;
 	position: absolute;
 	right: 0;
 	top: 0;
 	background-color: transparent;
 	color: #cccccc;
 	outline: none;
 }

 /* Popular News */
 .newsContentArea .sidebarColumn .popularNews {
 	margin-top: 55px;
 }
 .newsContentArea .sidebarColumn .popularNews h3 {
 	text-align: left;
 	font-size: 24px;
 }
 .newsContentArea .sidebarColumn .popularNews ul {
 	margin-top: 25px;
 }
 .newsContentArea .sidebarColumn .popularNews ul li {
 	list-style-type: none;
 	display: block;
 	border-bottom: 1px solid #cccccc;
 	position: relative;
 	padding-left: 70px;
 	padding-bottom: 20px;
 }
 .newsContentArea .sidebarColumn .popularNews ul li:last-child {
 	border-bottom: none;
 }
 .newsContentArea .sidebarColumn .popularNews ul li .imgContainer {
 	position: absolute;
 	left: 0;
 }
 .newsContentArea .sidebarColumn .popularNews ul li .textArea h4 {
 	color: #333333;
 	font-family: 'ProximaNova-Regular';
 	font-size: 14.5px;
 	line-height: 20px;
 	margin-bottom: 5px;
 	margin-top: 15px;
 }
 .newsContentArea .sidebarColumn .popularNews ul li .textArea h5 {
 	color: #7b7b7b;
 	font-family: 'ProximaNova-Semibold';
 	font-size: 14px;
 }

 /* Pagination */
 .pagination {
 	width: 100%;
 	float: left;
 	margin-top: 23px;
 }
 .pagination ul {
 	float: right;
 }
 .pagination ul > li {
 	list-style-type: none;
 	display: inline-block;
 }
 .pagination ul > li > a {
 	color: #202020;
 	font-family: 'ProximaNova-Regular';
 	font-size: 18px;
 	display: block;
 	padding: 9px 20.5px;
 	border-radius: 4px;
 	-webkit-transition: all .3s;
 	-moz-transition: all .3s;
 	-o-transition: all .3s;
 	-ms-transition: all .3s;
 	transition: all .3s;
 }
 .pagination ul > li.active > a,
 .pagination ul > li > a:hover {
 	background-color: #cc071e;
 	color: #ffffff;
 }

 /* Fullscreen Popup */
 .fullscreenPopup {
 	display: none;
 	position: fixed;
 	overflow-y: auto;
 	top: 0;
 	left: 0;
 	right: 0;
 	width: 100%;
 	height: 100%;
 	background: url(images/banner/popup-bg.jpg) no-repeat center 0;
 	z-index: 9999;
 	background-size: cover;
 }
 .fullscreenPopup .popupContainer {
 	width: 502px;
 	margin: 0px auto;
 }
 .fullscreenPopup .popupContainer .close {
 	position: absolute;
 	top: 30px;
 	right: 30px;
 	cursor: pointer;
 }
 .fullscreenPopup .popupContainer .logo {
 	margin-top: 122px;
 }
 .fullscreenPopup .popupContainer .logo img {
 	margin: 0px auto;
 }
 .fullscreenPopup .popupContainer form {
 	margin-top: 59px;
 }
 .fullscreenPopup .popupContainer form .form-group {
 	margin-bottom: 23px;
 	position: relative;
 }
 .fullscreenPopup .popupContainer form .form-group .form-control {
 	min-height: 59px;
 	font-family: 'ProximaNova-Regular';
 	font-size: 20px;
 	padding-left: 100px;
 }
 .fullscreenPopup .popupContainer form .form-group:after {
 	content: '';
 	position: absolute;
 	border-left: 1px solid #cccccc;
 	height: 70%;
 	width: 1px;
 	top: 10px;
 	left: 70px;
 }
 .fullscreenPopup .popupContainer form .form-group .input-icon {
 	position: absolute;
 	left: 20px;
 	top: 35%;
 }
 .fullscreenPopup .popupContainer form .form-group .icon-password-toggle {
 	position: absolute;
 	right: 55px;
 	top: 23px;
 	cursor: pointer;
 }
 .fullscreenPopup .popupContainer form .form-group .icon-password-toggle.active:before {
 	background-position: 0 -23px !important;
 }
 .fullscreenPopup .popupContainer form .checkbox {
 	margin-top: 35px; 
 	margin-bottom: 18px;
 }
 .fullscreenPopup .popupContainer form .checkbox label {
 	font-family: 'ProximaNova-Regular';
 	font-size: 16px;
 	color: #ffffff;
 }
 .fullscreenPopup .popupContainer form .checkbox label a {
 	font-family: 'ProximaNova-Semibold';
 	color: inherit;
 	text-decoration: underline;
 }
 .fullscreenPopup .popupContainer form .btn-signup {
 	width: 100%;
 	background-color: #cc071e;
 	color: #ffffff;
 	font-size: 26px;
 	padding: 10px 0;
 	font-family: 'ProximaNova-Regular';
 }
 .fullscreenPopup .popupContainer .popupLink {
 	margin-top: 39px;
 	margin-bottom: 20px;
 }
 .fullscreenPopup .popupContainer .popupLink p {
 	color: #ffffff;
 	font-size: 16px;
 	font-family: 'ProximaNova-Regular';
 	text-align: center;
 }
 .fullscreenPopup .popupContainer .popupLink p a {
 	color: #fd434b;
 	text-decoration: underline;
 }
 .fullscreenPopup .popupContainer .popupLink p.forgot {
 	margin-bottom: 10px;
 }
 .fullscreenPopup .popupContainer .popupLink p.forgot a {
 	color: #ffffff;
 	text-decoration: none;
 }

 /* CSS Checkbox */
 input[type=checkbox].css-checkbox {
 	position:absolute; 
 	z-index:-1000; 
 	left:-1000px; 
 	overflow: hidden; 
 	clip: rect(0 0 0 0); 
 	height:1px; 
 	width:1px; 
 	margin:-1px; 
 	padding:0; 
 	border:0;
 }
 input[type=checkbox].css-checkbox + label.css-label, input[type=checkbox].css-checkbox + label.css-label.clr {
 	padding-left:30px;
 	height:19px; 
 	display:inline-block;
 	line-height:22px;
 	background-repeat:no-repeat;
 	background-position: 0 0;
 	vertical-align:middle;
 	cursor:pointer;
 }
 input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
 	background-position: 0 -19px;
 }
 label.css-label {
 	background-image:url(images/checkbox-sprite.png);
 	-webkit-touch-callout: none;
 	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 }

/*------------------------
 *	Applicant References
 /*----------------------*/
 /* Sequence Tabs */
 .sequenceTabs {
 	position: relative;
 	margin: 64px 0 7px 0;
 }
 .sequenceTabs:before {
 	content: '';
 	border-bottom: 1px solid #cccccc;
 	position: absolute;
 	width: 100%;
 	height: 1px;
 	top: 50%;
 	z-index: 1;
 }
 .sequenceTabs ul {
 	text-align: center;
 	position: relative;
 	z-index: 2;
 }
 .sequenceTabs ul > li {
 	list-style-type: none;
 	display: inline-block;
 	border: 1px solid #666666;
 	border-radius: 2px;
 	margin: 0 20px;
 	background-color: #ffffff;
 }
 .sequenceTabs ul > li:first-child {
 	margin-left: 0;
 }
 .sequenceTabs ul > li:last-child {
 	margin-right: 0;
 }
 .sequenceTabs ul > li > a {
 	display: block;
 	padding: 10px 31px;
 	color: #333333;
 	font-size: 18px;
 }
 .sequenceTabs ul > li > a > i {
 	font-size: 22px;
 	vertical-align: text-bottom;
 }
 .sequenceTabs ul > li.active {
 	border-color: #cc071e;
 }
 .sequenceTabs ul > li.active > a {
 	background-color: #cc071e;
 	color: #ffffff;
 }

 /* Client References */
 .clientReferenceSection {
 	margin-top: 34px;
 	margin-bottom: 14px;
 }
 .clientReferenceSection .row {
 	margin: 0 -15px;
 }
 .clientReferenceSection .row .column {
 	width: 25%;
 	float: left;
 	padding: 0 15px;
 }
 .clientReferenceSection .row .column .item {
 	width: 100%;
 	min-height: 234px;
 	height: 234px;
 	border: 1px solid #f0f0f0;
 	box-shadow: 1px 0 10px rgba(204,204,204,0.45);
 	margin: 15px 0;
 	display: table;
 }
 .clientReferenceSection .row .column .item a {
 	height: 100%;
 	display: table-cell;
 	vertical-align: middle;
 }
 .clientReferenceSection .row .column .item a img {
 	margin: 0px auto;
 }

/*------------------------
 *	Upload CV Page
 /*----------------------*/
 .uploadCVArea {
 	padding: 41px 0 89px !important;
 }
 /* Step Tabs */
 .stepTabs {
 	margin-top: 49px;
 }
 .stepTabs ul {
 	position: relative;
 	width: 610px;
 	margin: 0px auto;
 }
 .stepTabs ul:before {
 	content: '';
 	display: table;
 	border-bottom: 1px dashed #dfdfdf;
 	border-width: 2px;
 	position: absolute;
 	width: 100%;
 	height: 1px;
 	top: 50%;
 	z-index: 0;
 }
 .stepTabs ul:after {
 	content: '';
 	display: table;
 	clear: both;
 }
 .stepTabs ul > li {
 	width: 33.33%;
 	float: left;
 	text-align: center;
 	position: relative;
 	z-index: 1;
 }
 .stepTabs ul > li:first-child {
 	text-align: left;
 }
 .stepTabs ul > li:last-child {
 	text-align: right;
 }
 .stepTabs ul > li > span {
 	width: 49px;
 	height: 49px;
 	border-radius: 49px;
 	line-height: 49px;
 	background-color: #f0f0f0;
 	box-shadow: 0px 3px 5px rgba(0,0,0,.30);
 	display: inline-block;
 	text-align: center;
 	font-size: 21px;
 	color: #666666;
 	font-family: 'ProximaNova-Regular';
 	margin: 4px 0;
 }
 .stepTabs ul > li.active > span {
 	width: 57px;
 	height: 57px;
 	border-radius: 57px;
 	line-height: 57px;
 	background-color: #e91830;
 	color: #ffffff;
 	margin: 0;
 }

 /* CV Form */
 .uploadCVContainer form {
 	margin: 46px -15px 0 -15px !important;
 }
 .uploadCVContainer form .form-control {
 	background-color: #f3f3f3;
 	border-color: #cccccc;
 	color: #999999;
 }
 .uploadCVContainer form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 	color: #999999;
 }
 .uploadCVContainer form .form-control::-moz-placeholder { /* Firefox 19+ */
 	color: #999999;
 }
 .uploadCVContainer form .form-control:-ms-input-placeholder { /* IE 10+ */
 	color: #999999;
 }
 .uploadCVContainer form .form-control:-moz-placeholder { /* Firefox 18- */
 	color: #999999;
 }
 .uploadCVContainer form .btnArea {
 	margin-top: 20px;
 }
 .uploadCVContainer form .btnArea .btn {
 	background-color: #cc071e;
 	color: #ffffff;
 	font-family: 'ProximaNova-Semibold';
 	font-size: 18px;
 	padding: 8px 35px;
 }

 /* Dropzone */
 .dropzone {
 	margin-bottom: 47px;
 }
 .dropzone .uploadArea .customInput {
 	width: 147px;
 	height: 147px;
 	border-radius: 100%;
 	border: 1px solid #f6eef0;
 	display: table;
 	margin: 0px auto;
 	cursor: pointer;
 }
 .dropzone .uploadArea .customInput .imgContainer {
 	display: table-cell;
 	height: 100%;
 	vertical-align: middle;
 }
 .dropzone .uploadArea .customInput .imgContainer img {
 	margin: 0px auto;
 }
 .dropzone .uploadArea p {
 	color: #333333;
 	font-size: 16px;
 	font-family: 'ProximaNova-Regular';
 	margin-top: 18px;
 }
 .fileUpload form {
 	margin: 41px -15px 0 -15px !important;
 }

 /* Progress Bar */
 .progressBarContainer {
 	width: 486px;
 	margin: 23px auto 0;
 	position: relative;
 }
 .progressBarContainer .progress {
 	background-color: #f0f0f0;
 	width: 100%;
 	height: 5px;
 	border-radius: 30px;
 	overflow: hidden;
 }
 .progressBarContainer .progress .progressBar {
 	background-color: #71c386;
 	float: left;
 	height: 100%;
 	border-radius: 30px;
 }
 .progressBarContainer .remove {
 	position: absolute;
 	top: -7px;
 	right: -25px;
 	cursor: pointer;
 }
 .progressBarContainer .remove i.fa {
 	color: #cccccc;
 }
 .progressBarContainer .progressTxt {
 	font-size: 18px !important;
 	color: #494949 !important;
 }
 .progressBarContainer .progressTxt span {
 	font-family: 'ProximaNova-Semibold';
 }

.menu-item-has-children > a{position: relative;}
.primary-menu > .menu-item-has-children > a:after{content: "\f107";position: absolute;top:0;right: 5px; 
font-family: FontAwesome;font-size: 18px;line-height: 40px;color: #fff;}

.sub-menu > .menu-item-has-children > a:after{content: "\f105";position: absolute;top:0;right: 10px; 
font-family: FontAwesome;font-size: 18px;line-height: 40px;color: #fff;}


 /*----services page------------*/
 header .innerPagePadd {    padding: 85px 0 68px 0;}
 .innerContentArea {    padding: 61px 0 59px; text-align: center; width: 100%; background-color: #ffffff;}
 .serviceRow{margin-top: 36px; float: left; width: 100%;}
 .innerContentArea h2{	font-size: 32px;	color: #000000;	text-align:center;margin-bottom: 12px; }
 .serviceColoum{    text-align: left;    width: 31.58%;    float: left;    margin-right: 30px;}
 .serviceColoum:last-child{margin-right: 0;}
 .serviceColoum h3{text-align: left; font-size: 18px; color: #000; line-height: 22px; margin-bottom: 8px;}
 .serviceColoum ul li a{color: #333;  margin-bottom: 10px; display: inline-block; position: relative;     padding-left: 14px;}
 .SerImg{margin-bottom: 21px;}
 .serviceColoum ul {margin-top: 33px;}
 .serviceColoum ul li a:hover{color: #cc071e;text-decoration: underline;}
 .serviceColoum ul li a i{position: absolute; left: 0;}
 /*----end services page------------*/
 /*------- contact us page ----------*/

 .innerContentArea form {
 	margin: 38px -15px 0 -15px;
 }
 .innerContentArea form .form-group {
 	margin-bottom: 30px;
 	padding: 0 15px; float: left; width: 100%;
 }
 .innerContentArea form .inline-form {
 	width: 33.33%;
 	float: left;
 }
 .innerContentArea form .form-group .form-control {
 	min-height: 42px;
 	font-family: 'ProximaNova-Light';
 	font-size: 16px;
 	padding: 6px 18px;
 }
 .innerContentArea form .form-group select.form-control, #popup-form .form-control{
 	color: #bebebe;
 	position: relative;
 	background: url(images/select-caret.jpg) no-repeat right;
 	-webkit-appearance: none;
 	-moz-appearance: none;
 	-ms-appearance: none;
 	-o-appearance: none;
 }
 .innerContentArea form .form-group select.form-control:focus {
 	color: #333333;
 }
 .innerContentArea form .form-group textarea.form-control {
 	min-height: 162px;
 	resize: none;
 }
 .btn-submit {
 	background-color: #cc071e;
 	color: #ffffff;
 	padding: 7px 52px;
 	font-family: 'ProximaNova-Semibold';
 	font-size: 18px; border: medium none;  line-height: 1.42857;
 }
 .innerContentArea form .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 	color: #bebebe;
 }
 .innerContentArea form .form-group .form-control::-moz-placeholder { /* Firefox 19+ */
 	color: #bebebe;
 }
 .innerContentArea form .form-group .form-control:-ms-input-placeholder { /* IE 10+ */
 	color: #bebebe;
 }
 .innerContentArea form .form-group .form-control:-moz-placeholder { /* Firefox 18- */
 	color: #bebebe;
 }

 /* Contact Map */
 .contactMap .details {
 	background-color: #f0f0f0;
 	padding: 15px 0;
 }
 .contactMap .details ul:before,
 .contactMap .details ul:after {
 	content: '';
 	display: table;
 }
 .contactMap .details ul:after {
 	clear: both;
 }
 .contactMap .details ul > li {
 	list-style-type: none;
 	width: 25%;
 	float: left;
 	position: relative;
 	padding: 10px 0 10px 95px;
 	min-height: 71px;
 }
 .contactMap .details ul > li:before {
 	content: '';
 	border-left: 1px solid rgba(151,151,151, .30);
 	position: absolute;
 	height: 100%;
 	top: 0;
 	left: 27%;
 }
 .contactMap .details ul > li h3 {
 	font-family: 'ProximaNova-Semibold';
 	font-size: 15px;
 	color: #333333;
 	text-align: left;
 }
 .contactMap .details ul > li p {
 	font-family: 'ProximaNova-Regular';
 	font-size: 14px;
 	color: #333333;
 	line-height: 18px;
 }
 .contactMap .details ul > li p a {
 	color: inherit;
 }
 .contactMap .details ul > li .icon-wrapper {
 	position: absolute;
 	left: 0;
 	width: 54px;
 	height: 54px;
 	background-color: #ffffff;
 	line-height: 54px;
 	text-align: center;
 	border-radius: 54px;
 	border: 1px solid #cccccc;
 	display: table;
 }
 .contactMap .details ul > li .icon-wrapper .icon {
 	display: table-cell;
 	height: 100%;
 	vertical-align: middle;
 }
 .contactMap .details ul > li .icon img {
 	display: block;
 	margin: 0px auto;
 }
 /*---------- testimonials --------------*/
 .AuthorImg{width: 89px; height: 89px; border-radius: 50%; overflow: hidden; margin:0 auto 21px;}
 .tesimonials{margin-top: 58px; float: left; width: 100%;}
 .testimonialAuthor{float: left; width: 48%;     padding: 0 13px; margin-bottom: 55px; box-sizing: border-box;}
 .testimonialAuthor strong{display: block; margin-top: 14px; color: #cc071e; font-family: 'ProximaNova-Semibold'; font-size: 18px;}
 .testimonialAuthor p{position: relative; line-height: 19px;}
 .testimonialAuthor p::before{content: ''; background-image: url('images/testimonials/testi-arrow.png'); background-repeat: no-repeat; width: 38px; height: 32px;     position: absolute;    left: -30px;    top: -21px;}
 .testimonialAuthor:nth-child(even){float: right;}
 .innerContentArea.testiMoniAls {    padding: 61px 0 30px;}
 /*--------- end testimonials------------*/
 /*-------- applicant-open-vacancies ----------*/
 .vacanices-img img{margin:0 auto;}
 .vacanices-img {    padding: 20px 0 0;}
 .flatpickr{background-image: url('images/applicants/datepickr.png'); background-repeat: no-repeat; background-position: 98% center;}
 .seacrchBtn {    float: left;    width: 100%; margin:8px 0 33px;}
/* .applicantOpen .form-control{background-color: #f3f3f3;}
.innerContentArea.applicantOpen form .form-group select.form-control{background-color: #f3f3f3; background-image: url('images/applicants/select-caret.png'); background-position: 96% center; } */
.innerContentArea.applicantOpen {    padding: 41px 0 59px;}
.innerContentArea.applicantOpen h2 {   margin-bottom: 34px;}
.innerContentArea.applicantOpen form{    margin-top: 12px;    float: left;    width: 100%;}
.foundJobs{float: left; width: 100%;  margin-bottom: 30px;}
.found-jobs h2 span{color: #cc071e;}
.found-jobs h2 {padding-bottom: 33px; border-bottom: 1px solid #e5e5e5; }
.foundJobs table td{text-align: left; color: #414141; font-size: 16px; font-family: 'ProximaNova-Regular'; vertical-align: middle ; padding:22px;}
.foundJobs table{width: 100%; table-layout: fixed;  }
.foundJobs table tr:hover td{background-color: #f5f5f5;}
.foundJobs table td:last-child{text-align: right;}
.foundJobs table td h5{font-size: 20px; color: #000; line-height: 36px; font-family: 'ProximaNova-Semibold';}
.apply {    font-size: 18px;    color: #cc071e;    background-color: transparent;    border: 1px solid #cc071e;    padding: 10px 58px 9px 59px; cursor: pointer;}
.apply:hover, .apply:focus{background-color: #cc071e; color: #fff;} 
.foundJobs table .fullTime{text-align: center;}
.foundJobs table tr {	display:none;}
#loadMore {
	padding: 12px 63px 12px 62px;
	text-align: center;
	background-color: #ededed;
	color: #cc071e;
	font-family: 'ProximaNova-Semibold';
	background-image: url('images/applicants/loading.png');
	background-repeat: no-repeat; 
	background-position:75% 11px;
	display: inline-block;
	margin-top: 23px;
	font-size: 18px;
}
#loadMore:hover {
	background-color: #cc071e;
	color: #fff;
	background-position:75% -34px;
}

/*--------end applicant-open-vacancies ----------*/

/*----applicant contact----*/
.applicant-contact .form-control{border-color: #cbcbcb;}
/*----end applicant contact----*/
/*--service-inner----*/
.serviceinner img{float: left; margin:0 30px 30px 0;}
.serviceinner {text-align: left; margin-top: 30px;position: relative;    min-height: 300px;}
.serviceinner:after{

	    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url(../mtu/images/logo-black.png);
    background-repeat: no-repeat;
    background-position: center center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
        background-size: 34% auto;

}
.serviceinner p{font-size: 16px; color: #333; line-height: 22px; margin-bottom: 23px;}
/*--end service-inner----*/
/*---upload cv03-----*/
.infoTxt a{color: #e91830; text-decoration: underline; outline: none}
#popup-form{width: 810px; margin:0 auto; background-color: #fff;}
#popup-form h1{color: #010101; font-size: 36px; line-height: 42px; text-align: center ; margin-bottom: 31px; font-family: 'ProximaNova-Light';}
#popup-form h1 span{color: #cc071e;}
#popup-form{padding:34px 32px 30px;  position: relative;}
.groupform{width: 100%; }
.group{	position:relative; margin-right: 25px; margin-bottom: 37px; width: 48%; display: inline-block}
.group:nth-child(even){margin-right:0;}
.group input{	font-size:15px;	padding:10px;	display:block;	width:100%;	border:none;	color: #414141;	border-bottom:1px solid #b9b9b9;}
.group input:focus{ outline:none; }
.seacrchBtn.validate{float: none;text-align: center;}
/* LABEL ======================================= */
.group label{
	color:#999; 
	font-size:15px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:0;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
#popup-form .form-control{text-indent: -9999px; padding: 6px 9px}
#popup-form .form-control.selected{text-indent: 1px; color: #414141; background-position: 103% center;}
#popup-form .form-control.selected ~ label, #popup-form .form-control.flatpickr.active ~ label, #popup-form .form-control.flatpickr:valid ~ label{    top: -15px;    font-size: 13px;    color: #cc071e;}
.group.select_group label{	top:-20px;	font-size:13px;	color:#cc071e; }
#popup-form .form-control.flatpickr.active{text-indent: 1px; } 
#popup-form .group.select_group .form-control.flatpickr{text-indent: 1px; color: #414141; } 

/* active state */
.group input:focus ~ label, .group input:valid ~ label 		{
	top:-20px;
	font-size:13px;
	color:#cc071e;
}
/* BOTTOM BARS ================================= */
.bar{ position:relative; display:block; width:100%; }
.bar:before, .bar:after {
	content:'';
	height:1px; 
	width:0;
	bottom:0; 
	position:absolute;
	background:#cc071e; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%; 
}

/* active state */
.group input:focus ~ .bar:before,  .group input:focus ~ .bar:after, .group .form-control:focus ~ .bar:before,  .group .form-control:focus ~ .bar:after {
	width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
	position:absolute;
	height:60%; 
	/* width:100px;  */
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
}

/* active state */
#popup-form input:focus ~ .highlight, #popup-form .form-control:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#cc071e; }
	to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#cc071e; }
	to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#cc071e; }
	to 	{ width:0; background:transparent; }
}
#popup-form .form-control{ border-width:0 0 1px; }
#popup-form .form-control.flatpickr {    background-image: url(images/applicants/datepickr.png);}
.mfp-close-btn-in .mfp-close {    font-family: 'ProximaNova-Light';    font-size: 50px; color: #cccccc;}
/*---end upload cv03-----*/

/*----------------------
 *	Employee Dashboard
/*--------------------*/
.innerContentArea.dashboard {
	padding: 41px 0 21px !important;
}
.dashboardContent {
	margin: 20px 0;
}
.dashboardContent .profile {
	position: relative;
}
.dashboardContent .profile .profilePicture {
	position: absolute;
	right: 0;
	top: 50px;
	text-align: center;
}
.dashboardContent .profile .profilePicture .imgContainer {
	width: 120px;
	height: 120px;
	line-height: 120px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 10px;
}
.dashboardContent .profile .profilePicture .imgContainer img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.dashboardContent .profile .profilePicture a {
	color: #666666;
	text-decoration: underline;
	margin-top: 5px;
}
.dashboardContent .profile .profilePicture input[type="file"] {
	display: none;
}
.dashboardContent .profile .profileData {
	padding-right: 150px;
}
.dashboardContent .dashTitle {
	position: relative;
	margin-top: 30px;
}
.dashboardContent .dashTitle h2 {
	font-family: 'ProximaNova-Bold';
	font-size: 20px; 
	color: #333333;
	border: 1px solid #cccccc;
	padding: 8px 15px;
	background-color: #f5f5f5;
}
.dashboardContent .dashTitle input[type="file"] {
	display: none;
}
.dashboardContent .dashTitle a {
	position: absolute;
	top: 5px;
	right: 15px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	color: #333333;
	padding: 5px 20px;
	border-radius: 25px;
}
.dashboardContent .dashTitle a:hover {
	background-color: #cc071e;
	border-color: #cc071e;
	color: #ffffff;
}
.dashboardContent .profileData {
	margin: 10px 0;
}
.dashboardContent .profileData h4 {
	margin: 0;
	font-family: 'ProximaNova-Semibold';
	font-size: 18px;
	color: #666666;
}
.dashboardContent .profileData ul {
	margin: 20px 0;
}
.dashboardContent .profileData ul:before,
.dashboardContent .profileData ul:after {
	content: '';
	display: table;
}
.dashboardContent .profileData ul:after {
	clear: both;
}
.dashboardContent .profileData ul > li {
	list-style-type: none;
	width: 50%;
	float: left;
	font-family: 'ProximaNova-Regular';
	font-size: 14px;
	color: #333333;
	border-bottom: 1px solid #cccccc;
}
.dashboardContent .profileData ul > li:nth-child(even) {
	padding: 10px 15px 10px 0;
}
.dashboardContent .profileData ul > li:nth-child(odd) {
	padding: 10px 0 10px 15px;
}
.dashboardContent .profileData ul > li.fw {
	width: 100%;
	padding: 10px 15px 10px 0;
}
.dashboardContent .profileData ul > li strong {
	font-family: 'ProximaNova-Semibold';
	color: #666666;
}
.dashboardContent .profileData ul > li .fa {
	line-height: 13px;
}
.dashboardContent .profileData p {
	font-family: 'ProximaNova-Regular';
	font-size: 16px;
	color: #333333;
	margin-top: 20px;
}
.dashboardContent .profileData p strong {
	font-family: 'ProximaNova-Semibold';
	color: #666666;
}
.dashboardContent .profileData p span {
	font-family: 'ProximaNova-Semibold';
	color: #489a2b;
}
.dashboardContent .profileResume p {
	color: #666666;
	float: left;
	width: 50%;
}
.dashboardContent .actionLinks {
	float: left;
	width: 50%;
}
.dashboardContent .actionLinks ul {
	margin: 5px 0 0 0;
}
.dashboardContent .actionLinks ul > li {
	float: none;
	width: auto;
	display: inline-block;
	border-bottom: none;
}
.dashboardContent .actionLinks ul > li > a {
	display: block;
	color: #333333;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 5px 20px;
	border-radius: 25px;
	margin-right: 10px;
}
.dashboardContent .actionLinks ul > li > a:hover {
	background-color: #f5f5f5;
}

/* Edit Profile Form */
.editProfileForm {
	margin: 20px 0;
}
.editProfileForm .form-group {
	margin-bottom: 15px;
	width: 100%;
}
.editProfileForm .form-group.inline-form {
	width: 50%;
	float: left;
}
.editProfileForm .form-group.inline-form:nth-child(odd) {
	padding-right: 15px;
}
.editProfileForm .form-group.inline-form:nth-child(even) {
	padding-left: 0px;
}

.keyskill-box{    display: block;    float: left;}
.buttonArea{text-align: center;    margin-top: 30px;    width: 100%;    float: left;    margin-bottom: 30px;}
.ms-options-wrap > button:focus, .ms-options-wrap > button {      padding: 8px 20px 7px 5px !important;}


.editProfileForm .form-group label {
	font-family: 'ProximaNova-Semibold';
	color: #666666;
	margin-bottom: 10px;
	display: block;
}
.editProfileForm .form-group textarea {
	height: auto;
	font-family: 'ProximaNova-Regular';
	font-size: 15px;
}
.inline-selectBox {
	display: inline-block;
	/* width: auto; */
}
.editProfileForm .buttonArea {
	text-align: center;
	margin-top: 50px;
}
.editProfileForm .buttonArea .btn-save {
	background-color: #cc071e;
    color: #ffffff;
    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
    padding: 8px 35px;
}
.editProfileForm .buttonArea .btn-cancel {
	background-color: #424242;
    color: #ffffff;
    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
    padding: 8px 35px;
}

/*--------------------
 *	Job Listing Page
/*------------------*/
.jobFilters {
	width: 25%;
	float: left;
	padding-right: 15px;
}
.jobFilters .filterWrapper {
	border: 1px solid #dddddd;
}
.jobFilters h2 {
	color: #333333;
    font-family: 'ProximaNova-Semibold';
    font-size: 18px;
    padding: 15px;
    border-bottom: 1px solid #dddddd;
}
.filterItem {
	border-bottom: 1px solid #dddddd;
}
.filterItem .title {
	padding: 15px;
	cursor: pointer;
}
.filterItem .title h3 {
	text-align: left;
	font-size: 16px;
	position: relative;
}
.filterItem .title h3 i {
	position: absolute;
	right: 0;
}
.filterItem .form-group {
	margin-bottom: 10px;
}
.filterItem .filterContent {
	display: none;
	padding: 0 15px 0;
}

.filterItem input[type=checkbox].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

.filterItem input[type=checkbox].css-checkbox + label.css-label, .filterItem input[type=checkbox].css-checkbox + label.css-label.clr {
	padding-left:30px;
	height:21px; 
	display:inline-block;
	line-height:21px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:16px;
	vertical-align:middle;
	cursor:pointer;
}

.filterItem input[type=checkbox].css-checkbox:checked + label.css-label, .filterItem input[type=checkbox].css-checkbox + label.css-label.chk {
	background-position: 0 -21px;
}
.filterItem label.css-label {
/*	background-image:url(images/filter-checkbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}

/* Job Listing */
.jobListingArea {
	width: 75%;
	float: left;
	padding-left: 15px;
}
.jobListingArea .jobListItem {
	border: 1px solid #dddddd;
	border-radius: 2px;
	padding: 20px 15px;
	margin-bottom: 20px;
	transition: box-shadow .4s;
}
.jobListingArea .jobListItem:hover {
	box-shadow: 3px 3px 60px #dddddd;
}
.jobListingArea .jobListItem h3 {
	text-align: left;
	font-size: 20px;
}
.jobListingArea .jobListItem h3 a {
	color: #cc071e;
}
.jobListingArea .jobListItem h6 {
	margin-top: 10px;
	font-size: 16px;
	color: #999999;
}
.jobListingArea .jobListItem h6 .fa {
	padding-right: 10px;
}

/* Columns */
[class*="column-"] {
	padding: 0 15px;
	float: left;
}
.column-1 {
	width: 8.33%;
}
.column-2 {
	width: 16.667%;
}
.column-3 {
	width: 25%;
}
.column-4 {
	width: 33.33%;
}
.column-5 {
	width: 41.667%;
}
.column-6 {
	width: 50%;
}
.column-7 {
	width: 58.33%;
}
.column-8 {
	width: 66.667%;
}
.column-9 {
	width: 75%;
}
.column-10 {
	width: 83.33%;
}
.column-11 {
	width: 91.667%;
}
.column-12 {
	width: 100%;
}

/*-----------------------
 *	Job Detail Page
/*---------------------*/
.jobDetailWrapper {
	margin: 20px 0 50px;
}
.jobDetailWrapper h3 {
	text-align: left;
	color: #cc071e;
	font-size: 28px;
}
.jobDetailWrapper h5 {
	text-align: left;
	color: #999999;
	font-size: 19px;
	margin-top: 10px;
}
.jobListInfo {
	margin-top: 15px;
	border-bottom: 1px solid #ededed;
	padding-bottom: 30px;
}
.jobInfo {
	margin-top: 30px;
}
.jobInfo h4 {
	font-family: 'ProximaNova-Semibold';
	font-size: 24px;
	margin-top: 0;
}
.jobInfo p {
	color: #484848;
	line-height: 24px;
}
.jobInfo ul {
	margin-top: 30px;
}
.jobInfo ul > li {
	margin-bottom: 10px;
}
.jobInfo ul > li > span {
	width: 150px;
	display: inline-block;
	font-family: 'ProximaNova-Semibold';
}
.keySkillsTags {
	margin-top: 30px;
}
.keySkillsTags h4 {
	font-family: 'ProximaNova-Semibold';
	font-size: 24px;
	margin-top: 0;
}
.keySkillsTags ul > li {
	border: 1px solid #dddddd;
	border-radius: 4px;
	display: inline-block;
	margin: 0 10px;
	color: #414141;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.keySkillsTags ul > li > a {
	color: inherit;
	display: block;
	padding: 10px 20px;
}
.keySkillsTags ul > li:hover {
	color: #cc071e;
	border-color: #cc071e;
}
.keySkillsTags ul > li:first-child {
	margin-left: 0;
}
.keySkillsTags ul > li:last-child {
	margin-right: 0;
}
.applyBtnArea {
	margin-top: 30px;
}
.applyBtnArea .btn-apply {
	background-color: #cc071e;
	color: #ffffff;
	padding: 8px 30px;
	font-size: 16px;
}

/* Similar Job Section */
.similarJobsSection {
	margin-top: 70px;
}
.similarJobsSection h4 {
	font-family: 'ProximaNova-Semibold';
    font-size: 24px;
    margin-top: 0;
}
.similarJobsSection .jobListingArea {
	width: 100%;
	padding-left: 0;
}
.similarJobsSection .jobListingArea [class*="column-"] {
	margin-bottom: 10px;
}

/* Sucesss message */
.alert-box {
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:10px;
}
.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
}
.error {
	background:#ffecec /*url('images/error.png') no-repeat 10px 50%*/;
	border:1px solid #f5aca6;
}
.errorsetting {
	background:#ffecec url('images/error.png') no-repeat 10px 50%;
	border:1px solid #f5aca6;
}
.success {
	background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
	width:75%;
	margin:auto;
}
.warning {
	background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
}
.notice {
	background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
	border:1px solid #8ed9f6;
}
#mapContainer {
    height: 650px;
    margin-top:20px;
}

#mapCanvas {
    width: 100%;
    height: 100%;
}

header nav .menu-header-menu-container {
	float: left;
}

/* Profile Dropdown */
header nav ul.account li > ul {
	max-width: 200px;
	min-width: 200px;
	left: -28%;
}
header nav ul.account li > ul > li:first-child {
	margin-left: 15px !important;
}
header nav ul.account li > ul > li > a {
	padding: 13px 16px !important;
}
header nav ul.account li > ul > li > a span.badge {
	display: inline-block;
	background-color: #cc071e;
	color: #ffffff;
	border-radius: 25px;
	padding: 2px 5px;
	text-align: center;
	font-size: 14px;
}


.contactList {width: 100%; float: none;}
.contactList li {float: left; width: 45%;}
footer .contact {width: 70%;}
footer .footRow.services {float: right; width: auto; margin: 0px; padding: 0px; border: 0px;}
span.wpcf7-not-valid-tip{text-align: left;}

.contactList {width: 100%; float: none;}
.contactList li {float: left; width: 45%;}
footer .contact {width: 70%;}
footer .footRow.services {float: right; width: auto; margin: 0px; padding: 0px; border: 0px;}
span.wpcf7-not-valid-tip{text-align: left;}

.fw {
	width: 100% !important;
}
.newsContentArea .fw.newsFeedColumn .newsItemWrapper {
	width: 33.33% !important;
	padding: 0 15px !important;
}
.newsContentArea .fw.newsFeedColumn {
	margin: 0 -15px;
	padding-right: 0 !important;
}

/* Map Info Window */
.gm-style .gm-style-iw .info_content h3 {
	color: #0e8c6d;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	font-size: 17px;
	font-weight: 400;
	text-transform: capitalize !important;
}
.gm-style .gm-style-iw .info_content strong {
	color: #333333;
	font-family: 'ProximaNova-Semibold';
	font-size: 17px;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.gm-style .gm-style-iw .info_content span {
	color: #333333;
	font-family: 'ProximaNova-Regular';
	font-size: 15px;
	text-transform: uppercase;
}
.gm-style .gm-style-iw .info_content a {
	color: #cc071e;
	font-family: 'ProximaNova-Regular';
	font-size: 15px;
	text-decoration: underline;
}

/*---------------------------
 *	Services Section
/*-------------------------*/
.servicesSection ul {
	padding-left: 35px;
	margin-bottom: 40px;
}
.servicesSection ul > li {
	list-style-type: disc;
	margin-bottom: 15px;
}
.servicesSection h1, .servicesSection h2, .servicesSection h3, .servicesSection h4, .servicesSection h5, .servicesSection h6 {
	text-align: left;
	font-family: 'ProximaNova-Semibold';
}
.servicesSection h2 {
	text-align: center;
}
.servicesSection h3 {
	font-size: 24px;
	margin-bottom: 15px;
}


.ui-slider .ui-slider-range {   background: #c1f2a3;}

/* Form Wrapper */
.groupform {
	float: left;
	width: 100%;
}
.groupform .group {
	float: left;
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}
#popup-form {
	margin: 50px auto;
}
.groupform .group.hasValue .form-control {
	text-indent: 0 !important;
	color: #414141 !important;
}
.groupform .group.hasValue label {
	top: -20px;
    font-size: 13px;
    color: #cc071e;
}
.group label {
	font-size: 14px;
}

.numInputWrapper{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05)!important;
}
.numInputWrapper span {opacity: 1 !important;}
.editProfileForm .form-group.inline-form {
    height: 68px;
    padding-left: 15px;
}


.jobInfo .job-des{    
	height: 70px;
    overflow: hidden;
    position: relative;
    transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
}
.jobInfo .job-des.active{height: auto;    padding: 0px 0 15px;    }
.jobInfo .job-des a.readMore{
	background: #cc071e none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    padding: 4px 10px;
    position: absolute;
    z-index: 999;
    right: 0;
    text-transform: capitalize;
     transition:all 5s ease;
    -webkit-transition:all 5s ease;
    -moz-transition:all 5s ease;
}

.jobInfo .job-des a.readMore.active{top: auto;bottom: 0;}
.date_visual{text-indent :0}


/* 
@media screen and (max-width:1200px) {

	
} */