@font-face {
    font-family: 'GothamRounded-Medium';
    src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamRounded-Medium.otf')  format('opentype'),
    url('../fonts/GothamRounded-Medium.woff') format('woff'),
    url('../fonts/GothamRounded-Medium.ttf')  format('truetype'),
    url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica-Bold.otf')  format('opentype'),
    url('../fonts/Helvetica-Bold.woff') format('woff'),
    url('../fonts/Helvetica-Bold.ttf')  format('truetype'),
    url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaLTStd-BoldCond';
    src: url('.../fonts/HelveticaLTStd-BoldCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaLTStd-BoldCond.otf')  format('opentype'),
    url('../fonts/HelveticaLTStd-BoldCond.woff') format('woff'),
    url('../fonts/HelveticaLTStd-BoldCond.ttf')  format('truetype'),
    url('../fonts/HelveticaLTStd-BoldCond.svg#HelveticaLTStd-BoldCond') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf')  format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf')  format('truetype'),
    url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
