

@font-face {
  font-family:"ruluko";
     src: url("../fonts/Ruluko-Regular.ttf");
  }

  
  
  @font-face {
  font-family:"firaSans-regular";
  src: url("../fonts/FiraSans-Regular.ttf");
      
  }
  
  @font-face {
  font-family:"oswald-regular";
       src: url("../fonts/Oswald-Regular.ttf");
     
  }

  


body{font-family:'firaSans-regular'; color:#000;}
a:hover{text-decoration:none;}


.form-control,.withoutfrm
{
    border-radius:0px;
    border: none;
    border-bottom:1px solid #000 !important;
    box-shadow:none;
}
.frmmain>h3,h4,h5,h6,p{padding-left:15px;}

.frmmain>h5,h4
{
    clear: both;
    margin-top: 20px;
    font-weight:bold;
    font-size:18px;
}
.frmmain>h3
{text-align: center; font-weight: bold;}
label{font-weight: 300; display: inline-block; margin-top:10px;}
.agreement{text-align: center; line-height:30px;}
.agreement>span{font-size:14px; font-weight: 400;}
.gymnast{font-style: italic;}
.lasvegas label{font-weight:800; font-size:16px;}

hr
{
    margin:50px 0px;
}
.parentalorle{display: block; margin-top: 40px; clear: both;}
.frmmain>p>span{color:#000; font-weight: 800;}
.submit{background:#e1e1e1; color: #000; border-radius:0px; padding: 10px 30px; font-size:20px; border: none;}
.form-control:focus{outline: none; box-shadow: none;}
input:focus{outline: none; box-shadow: none;}


.flipfor{text-align: center;}


.contact-details-inner li h3
{
    margin-top: 0px;
    margin-bottom: 0px;
}
.contact-details-inner ul
{
    margin-bottom:0px;
}