/*
Theme Name: Gymnastics Theme
Author: The Gymnastics team
*/

/* ===== reset.CSS ====*/
body{	margin:0;	font-family: opensans;}
body *{	margin:0;	padding:0;	text-decoration: none;}
html,body {overflow-x: hidden;}

/* ==== header styling ==== */
a{text-decoration: none !important;}
header {    position: absolute;    width: 100%;    top: 0;    left: 0;    z-index: 10;}
.top_header{	color: white;	padding: 20px 0 22px;}
.top_header span {    margin: 5px;    }
.top_header span.top_title {  margin: 5px 0px 5px 5px;    }
.top_header span.call_us{margin-right: 0;    letter-spacing: 1px;}
.top_header span.call_us a:hover {color:inherit;}
.top_header p{	text-transform: uppercase;}
.top_header a{	color: white;	text-decoration: none;}
span.social_icons {    border-right: 1px solid;    padding: 2px;}
span.social_icons a {       padding: 2px 4px;}
span.call_us img {    width: auto;    height: 21px;    position: relative;    top: -2px;}

.main_header {    background: #e03127;    padding: 8px;}
.brand_logo {    position: absolute;    top: -60px;    left: -2px;    z-index: 99;}
div#brand_menu li a {    color: white;    padding: 0px;   font-family: 'GothamRounded-Medium';  text-transform: uppercase;    font-weight: normal;    font-size: 14px;}
div#brand_menu li a:hover{	text-decoration: none;}
div#brand_menu li {    display: inline-block;     padding: 5px 7px;}
div#brand_menu ul {    padding: 0;    list-style: none;    font-family: 'GothamRounded-Medium';}

/* ===== banner styling ====*/

.slider{width: 100%;float: left;overflow: hidden;}


.slider .slick-prev.slick-arrow{ background-image: url(assets/images/arrow-prevB.png);    width: 50px;    height: 73px;    background-repeat: no-repeat; left: 50px;     z-index: 9;}
.slider .slick-prev.slick-arrow:before{content: "";}
.slider .slick-next.slick-arrow{ background-image: url(assets/images/arrow-nextB.png);    width: 50px;    height: 73px;    background-repeat: no-repeat;  right: 50px;    z-index: 9;}
.slider .slick-next.slick-arrow:before{content: "";}


.slider_content {     padding: 374px 0 363px 0;}
.home_slider{    background-size: cover;}

.slider_content h3 { width: 74%;    margin: 0 auto;    color: white;    text-transform: uppercase;    font-size: 50px;    font-family: 'HelveticaLTStd-BoldCond';    padding: 15px 0;    background: rgba(0, 0, 0, 0.5);}




.testimonial{width: 100%;    float: left;     padding: 53px 0;}
.rating-main{width: 100%;float: left;}
.rating-main ul{width: 100%;float: left;text-align: center;}
.rating-main ul li{    display: inline-block;    list-style: none;    width: 45%;    text-align: center;       padding: 10px 42px;    margin-right: 4%;    margin-bottom: 35px;}
.rating-main li p{color: #565656;font-size: 16px;font-family: opensans;font-weight: 600;padding-top: 25px;}
.rating-main li p span{font-weight: 400;}


.classes{    width: 100%;    float: left;background: #f3f3f3;    padding-bottom: 70px;}
.classes .classes-type{padding-top: 34px;}
.classes .heading-main {text-align: center;}
.classes .heading-main h3{  display: inline-block;    background: #e03127;    font-size: 28px;    font-family: 'HelveticaLTStd-BoldCond';    color: #fff;    padding: 19px 71px;    text-transform: uppercase;    line-height: 30px;    position: relative;    top: -34px;}
.classes ul{    width: 100%;    float: left;    padding: 70px 0 50px;}
.classes ul li{ width: 31%;    float: left;    list-style-type: none;    margin-right: 2%;    border: 1px solid #d5d5d5;}
.classes .listing {   list-style-type: none;     border: 1px solid #d5d5d5; margin: 0 10px;}
.classes .class-inner{    width: 100%;float: left;}
.classes .class-inner .img-box{width: 100%;float: left;position: relative;max-height: 200px;    overflow: hidden;}
.classes .class-inner .img-box img{width: 100%;float: left;}
.classes .class-inner .content-box{width: 100%;float: left;background: #fff;text-align: center;    padding: 15px 15px 40px 15px;position: relative;padding-top: 0;}
.classes .class-inner .content-box span.days{    position: relative;    top: -39px;    display: inline-block;    color: #ffffff;    font-size: 15px;    background: #1c1c1c;     padding: 9px 15px;    text-transform: uppercase;}
.classes .class-inner .content-box h3{   font-family: 'OpenSans-Bold';  color: #1c1c1c;    font-size: 18px;    position: relative;    padding-bottom: 16px;     text-transform: uppercase;   margin-bottom: 29px; }
.classes .class-inner .content-box h3 span{      position: absolute;    bottom: 0;    border: 1px solid #1c1c1c;    width: 46px;    left: 50%;    margin-left: -23px;}
.classes .class-inner .content-box p{    color: #1c1c1c;    font-size: 15px;    line-height: 21px;    font-family: opensans;    font-weight: 400;       padding-bottom: 53px;}
.classes .class-inner .content-box a{   color: #e03127;    font-size: 13px;    font-family: opensans;    background: #e0e0e0;        line-height: 37px;  font-weight: 700;    text-decoration: none;    position: absolute;    bottom: 0;     left: 50%;    width: 65%;    text-transform: uppercase;    transform:translateX(-50%);    -webkit-transform:translateX(-50%);    -moz-transform:translateX(-50%);    -ms-transform:translateX(-50%); }

.classes .slick-prev.slick-arrow{ background-image: url(assets/images/arrow-prev.png);  z-index: 99; width: 50px;    height: 73px;    background-repeat: no-repeat;    left: -91px; }
.classes .slick-prev.slick-arrow:before{content: "";}
.classes .slick-next.slick-arrow{ background-image: url(assets/images/arrow-next.png);  z-index: 99; width: 50px;    height: 73px;    background-repeat: no-repeat;   right: -97px; }
.classes .slick-next.slick-arrow:before{content: "";}


a.viewBtn{      color: #e03127;   font-family: 'OpenSans-Bold'; font-size: 13px;    border: 2px solid #e03127;    display: inline-block;   padding: 10px 42px;   text-transform: uppercase;    text-decoration: none;}

.classes .viewAll{text-align: center;    padding-top: 72px;}
.classes .viewAll a{text-align: center; padding: 12px 29px;}

.about-flip {width: 100%;float: left;}
.about-flip .welcome-flip{background: #e03127;}
.about-flip .welcome-flip-inner{float: right;width: 68%;     padding: 65px 56px 71px;}
.about-flip .welcome-flip-inner h3{color: #ffffff; position: relative;     line-height: 30px;   padding-bottom: 23px;font-family: 'HelveticaLTStd-BoldCond';font-size: 28px;text-transform: uppercase;}
.about-flip .welcome-flip-inner h3 span.heading-icon{position: absolute;    left: -70px;    top: 0;    width: 60px;    height: 60px;}
.about-flip .welcome-flip-inner h3 span.heading-icon img{height: 100%;width: 100%;}
.about-flip .welcome-flip-inner h3 span.heading-about{display: block;}
.about-flip .welcome-flip-inner p{color: #f1f1f1;font-family: opensans;font-size: 14px;    line-height: 22px;}
.about-flip .welcome-flip-inner .learn-more {    padding-top: 37px;}
.about-flip .welcome-flip-inner .learn-more a{border: 2px solid #fff;color: #fff;    padding: 10px 30px;}


.about-flip .facilities{}
.about-flip .facilities-offers{float: left;width: 71%;     padding: 65px 40px 70px 117px;}
.about-flip .facilities-offers h3{color: #ffffff; position: relative;    padding-bottom: 30px;font-family: 'HelveticaLTStd-BoldCond';font-size: 28px;text-transform: uppercase;}
.about-flip .facilities-offers h3 span.heading-icon{position: absolute;    left: -70px;    top: 0;    width: 60px;    height: 60px;}
.about-flip .facilities-offers h3 span.heading-icon img{height: 100%;width: 100%;}
.about-flip .facilities-offers h3 span.heading-about{display: block;}
.about-flip .facilities-offers p{color: #f1f1f1;font-family: opensans;font-size: 14px;    line-height: 21px;}
.about-flip .facilities-offers .learn-more {    padding-top: 35px;}
.about-flip .facilities-offers .learn-more a{border: 2px solid #fff;color: #fff;    padding: 10px 42px;}




.gallery{width: 100%;float: left; padding: 85px 0 62px; overflow: hidden;}
.gallery-inner {width: 100%;float: left;}
.gallery-inner .heading{width: 100%;float: left;text-align: center;}
.gallery-inner .heading h3{display: inline-block;text-transform: uppercase;font-family: 'Helvetica-Bold';line-height: 30px;font-size: 28px;}
.gallery-inner ul{width: 100%;float: left;    padding: 57px 0 60px;}
.gallery-inner ul li{float: left;list-style-type: none;width: 25%;}
.gallery-inner ul li .img-box{width: 100%;float: left;}
.gallery-inner ul li .img-box img{width: 100%;float: left;}

.view-button{    width: 100%;    float: left;    text-align: center;}

.contact-main{width: 100%;float: left;}
.contact-main .map{width: 50%;float: left;}
.contact-main .contact-details{width: 50%;float: left;    background: #e03127;}
.contact-details .contact-details-inner{width: 72%;float: left;     padding: 72px 45px 60px;}
.contact-details-inner ul {width: 100%;float: left;}
.contact-details-inner ul li{width: 100%;float: left;    margin-bottom: 46px;    padding-bottom: 38px;list-style: none; border-bottom: 2px solid #fff;}
.contact-details-inner ul li:last-child{margin-bottom: 0px;border-bottom: 0px solid #fff;padding-bottom: 0px;}
.contact-details-inner li h3{padding-left: 85px;position: relative;font-family: 'Helvetica-Bold';font-size: 28px;color: #fff;    text-transform: uppercase;}
.contact-details-inner li h3 span.icon{position: absolute;top: 0;left: 0;}
.contact-details-inner li h3 span{font-family: opensans;font-size: 15px;color: #fff;display: block;    text-transform: capitalize;    line-height: 19px;}


.follow-us-main{width: 100%;float: left;     padding: 73px 0 40px;}
.aboutusP .content h3{color: #565656;font-family: 'Helvetica-Bold';font-size: 22px;text-transform: uppercase;}
.aboutusP .content h3 span{    margin-right: 8px;}
.aboutusP .content p{    color: #565656;    font-family: opensans;    font-size: 15px;    padding: 20px 0 16px;   line-height: 22px;}
.aboutusP .content a{color: #e03127;font-family: opensans;font-size: 15px;}


.followus-facebook .widget_FacebookLikeBox .widget-title {color: #565656;font-size: 18px;padding-bottom: 45px;     text-transform: uppercase;font-family: 'Helvetica-Bold';}
.follow-us .widget-title {color: #565656;font-size: 18px;padding-bottom: 45px;     text-transform: uppercase;font-family: 'Helvetica-Bold';}

.follow-us-main .followus-facebook{    width: 268px;     padding-top: 22px;   float: left;}
.follow-us-main .followus-twitter {    float: right;    margin-left: 10px;    padding-top: 22px;    width: 250px;    }


/* ===== front page styling ==== */



/* ==== footer styling ==== */


.footer{width: 100%;float: left;}
.footer .footer-inner{padding: 20px 0;border-top: 2px solid #cecece;}
.footer-menu{width: 100%;float: left;    text-align: center;}
.footer-menu ul{width: 100%;float: left;}
.footer-menu ul li{list-style-type: none;border-right:1px solid #8f8f8f; display: inline; padding: 0 15px;}
.footer-menu ul li:first-child{ padding-left: 0;}
.footer-menu ul li:last-child{border: none; padding-right: 0;}
.footer-menu ul li a{color: #565656;font-family: opensans;font-size: 15px;text-decoration: none; }

.copyright {    padding-top: 15px;}
.copyright .custom-html-widget{color: #888888;font-size: 15px;font-family: opensans;    text-align: center;}


/* ==== upcoming events styling ==== */


.banner-common{width: 100%;float: left;     padding: 180px 0 50px;   background-size: cover;}
.banner-common h1{text-transform: uppercase;color: #fff;font-size: 50px;font-family: 'HelveticaLTStd-BoldCond';}

.upcoming-events{width: 100%;float: left;    padding: 66px 0 97px;}
.upcoming-events-inner h3.upcoming-heading{color: #000000;font-family: 'HelveticaLTStd-BoldCond';font-size: 30px;text-transform: uppercase;border-bottom: 2px solid #999999;padding-bottom: 20px;    margin-bottom: 24px;}
.upcoming-events-inner h3 span{color: #e03127;font-size: 43px;    display: block;line-height: 54px;}

.event-listing{width: 100%;float: left;}
.event-listing p{color: #1c1c1c;font-size: 15px;    margin-bottom: 15px;}
.event-listing p a{color: #e03127;font-size: 15px;}
.event-listing ul.listing{    width: 100%;    float: left;    padding-top: 30px;}
.event-listing ul.listing li{width: 23.5%;float: left;list-style-type: none;margin-right:2%; }
.event-listing ul.listing li:nth-child(4n){margin-right:0%; }
.event-listing ul.listing li:last-child{margin-right:0%; }
.event-listing ul.listing li img{width: 100%;float: left;list-style-type: none;}
.event-listing ul.listing li h3{color: #000000;font-size: 15px;font-family: 'OpenSans-Bold';text-transform: uppercase;padding-bottom: 17px;}
.event-listing ul.listing li .img-box{width: 100%;float: left;position: relative;}
.event-listing ul.listing li .button-list{width: 100%;float: left;   padding-top: 28px;}
.event-listing ul.listing li .button-list a.viewBtn {    padding: 10px 16px;    font-family: 'OpenSans';}
.event-listing ul.listing li .button-list a.viewBtn.addcart {  background: #e03127;color: #fff;float: right;}
.event-listing ul.listing li .event-details{ position: absolute;top: 100%;background: rgba(0,0,0,0.8);    height: 100%;    padding: 15px;    left: 0;    transition:all 0.5s;    -webkit-transition:all 0.5s;    -moz-transition:all 0.5s;    -ms-transition:all 0.5s;}
.event-listing ul.listing li .event-details h3{color: #fff;font-size: 15px;text-transform: capitalize;}
.event-listing ul.listing li .event-details p{color: #fff;font-size: 14px;line-height: 22px; }
.event-listing ul.listing li .event-details a{color: #fff;font-size: 14px;}
.event-listing ul.listing li .img-box{overflow: hidden;}
.event-listing ul.listing li .img-box:hover .event-details{top: 0;}

.shop-list {width: 100%;float: left;padding-top: 96px; }
.shop-list h3 {color: #000000;font-size: 30px;font-family: 'HelveticaLTStd-BoldCond';text-transform: uppercase;padding-bottom: 11px;}
.shop-list p{color: #1c1c1c;font-size: 15px; }
.shop-list p a{color: #e03127;font-size: 15px;}
.shop-list ul{width: 100%;float: left;padding-top: 35px;}
.shop-list ul.listing li{width: 23.5%;float: left;list-style-type: none;margin-right:2%; }
.shop-list ul.listing li:nth-child(4n){margin-right:0%; }
.shop-list ul.listing li:last-child{margin-right:0%; }
.shop-list ul.listing li img{width: 100%;float: left;height: 100%;}
.shop-list ul.listing li h3{color: #000000;font-size: 15px;font-family: 'OpenSans-Bold';text-transform: uppercase;padding-bottom: 17px;}
.shop-list ul.listing li .img-box{width: 100%;float: left;position: relative;}
.shop-list ul.listing li .button-list{width: 100%;float: left;   padding-top: 30px;}
.shop-list ul.listing li .button-list a.viewBtn {    padding: 10px 16px;    font-family: 'OpenSans';}
.shop-list ul.listing li .button-list a.viewBtn.addcart {  background: #e03127;color: #fff;float: right;}


.event-details-main{width: 100%;float: left;}
.event-details-main .event-details-inner{width: 100%;float: left;padding: 60px 0;}
.event-details-main .event-details-inner .content{width: 100%;float: left;}
.event-details-main .event-details-inner img{width: 100%;float: left;}
.event-details-main .event-details-inner h3{font-size: 30px;color: #000000;text-transform: capitalize;}
.event-details-main .event-details-inner p{font-size: 16px;color: #1c1c1c;margin: 15px 0;}


/* ==== classes page styling ==== */

.page-template-classes .term-para p{      border-bottom: 2px solid #999999;    padding-bottom: 23px;    margin-bottom: 28px;    line-height: 24px;}
.page-template-classes .required-attire h3{font-size: 19px;color: #e03127;font-family: 'OpenSans-Bold';    padding-bottom: 10px;}
.page-template-classes .required-attire p{font-size: 15px;color: #1c1c1c;font-family: 'OpenSans';margin-bottom:0; }
.page-template-classes .term-classes{width: 100%;    float: left;    padding: 57px 0 0;}
.page-template-classes .term-classes > h3{font-size: 30px;color: #000000;font-family: 'HelveticaLTStd-BoldCond'; }
.page-template-classes .term-classes li{margin-bottom:42px; }
.page-template-classes .month-classes{width: 100%;    float: left;    padding-top: 37px; }
.page-template-classes .month-classes h3{font-size: 30px;color: #000000;font-family: 'HelveticaLTStd-BoldCond';}
.page-template-classes .month-classes li{margin-bottom:42px; }
.page-template-classes .upcoming-events{    padding: 66px 0 33px;}
.page-template-classes .event-listing ul.listing li .event-details p{color: #fff;    font-size: 14px;    line-height: 22px;    padding-bottom: 83px;    padding-top: 15px; }



/* ==== contact page styling ==== */
.contact-form-outer{padding: 66px 0 59px;}
.cpara{color: #1c1c1c;font-size: 15px;    line-height: 24px;}
.contact-form-main{    width: 100%;    float: left;    padding: 38px 0 0;}
.contact-form-main .form-inner{width: 100%;float: left;    padding: 45px 40px 35px 43px !important; background: #ededed; }
.contact-form-main .wpcf7{width: 100%;float: left; }

.contact-form-main .wpcf7 form{width: 100%;float: left; }
.contact-form-main .wpcf7 form input, .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .select2-container--default .select2-selection--single{width: 100%;float: left;    height: 45px; padding: 10px 14px;   border: 1px solid #cdcdcd; border-radius: 0;}
.contact-form-main .wpcf7 .left{width: 48%;float: left; margin-bottom:20px;     clear: left;}
.contact-form-main .wpcf7 .right{width: 48%;float: right; margin-bottom:20px; }
.contact-form-main .wpcf7 .message{width: 100%;float: right; }
.contact-form-main .wpcf7 .message textarea, .woocommerce form .form-row textarea{width: 100%;float: left; padding: 10px;max-height: 133px;  border: 1px solid #cdcdcd; }
.contact-form-main .wpcf7 .submitBtn{width: 100%;float: left;text-align: center;padding-top: 30px; }
.contact-form-main .wpcf7 .submitBtn input{width: auto;text-align: center;float: none;color: #e03127;font-size: 13px;height: 42px;font-family: 'OpenSans-Bold'; border: 2px solid #e03127;      margin-right: 20px;  padding: 8px 55px;background: transparent;    text-transform: uppercase; }

.contact-form-main div.wpcf7-validation-errors {    border: none;    float: left;}
.contact-form-main .form-para{padding-bottom: 29px;}
.contact-form-main .form-para p{color: #5f5f5f;font-size: 14px;}
.contact-form-main .cpara{font-size: 15px;color: #1c1c1c;  }

.newsletter-main{    width: 100%;    float: left;     min-height: 464px;  padding: 47px 44px 33px;  background-size: 100% 100%;}
.newsletter-main .newsletter{width: 100%;float: left;border-bottom: 1px solid #949494;    padding-bottom: 50px;    margin-bottom: 50px;}
.newsletter-main .newsletter h2{font-size: 14px;color: #f1f1f1;padding-bottom: 27px;}
.newsletter-main .newsletter input[type="email"]{    width: 68%;    float: left;    height: 44px;    background: #fff;    border: 1px solid #a9a9a9;}
.newsletter-main .newsletter input[type="submit"]{    width: 24%;      margin-right: 14px;  float: right;    border: 2px solid #fff;    background: transparent;    text-transform: uppercase;    font-weight: 700;}
.newsletter-main .paypal{width: 100%;float: left;    padding-bottom: 26px;}
.newsletter-main .paypal p{color: #f1f1f1;font-size: 14px;}
.newsletter-main  p{color: #f1f1f1;font-size: 14px;}
.newsletter-main .paypal p a{color: #e03127;text-decoration: underline;}
.padding-left{padding-left: 0;}
.padding-right{padding-right: 0;}
.contact-form-main span.wpcf7-not-valid-tip {  float: left;}


.aboutus{    padding: 66px 0 83px;}
.content-aboutus{width: 100%;float: left;}
.content-aboutus .post-content{width: 50%;float: left;}
.content-aboutus .post-content p{font-size: 15px;color: #1c1c1c;    line-height: 24px;}
.content-aboutus .image-abouts{width: 48%;float: right;    padding-top: 8px;}
.content-aboutus .image-abouts img{width: 100%;}


.team-member-main {    padding: 66px 0 83px;}
.team-member-main li a{display: inline-block;}
.team-member-main li .about-member{width: 100%;    float: left;     padding: 17px 0 40px;background: #fff;}
.team-member-main li .about-member a{text-transform: uppercase;}
.team-member-main li .about-member a.member-name{color: #e03127;font-size: 22px;font-family: 'OpenSans-Bold'; }
.team-member-main li .about-member a.member-position{color: #565656;font-size: 15px;font-style: italic; }
.team-member-main .achievements li{width: 32%;    float: left;    list-style-type: none;    margin-right: 2%;    border: 1px solid #dbdbdb;    padding: 10px;    border-radius: 5px;}
.team-member-main .achievements{width: 100%;float: left;padding-top: 2px;}
.team-member-main .achievements li:last-child{margin-right: 0;}
.team-member-main .achievements li:nth-child(3n){margin-right: 0;}
.team-member-main .achievements li img{width: 100%;}

.single-teammember .content h4{    font-size: 18px;    line-height: 31px;
    color: #000000;
    text-transform: capitalize;}


    .team-member-main .listing{     padding-top: 42px !important;}

    .page-template-gallery .gallery{}

    .page-template-default p{margin-bottom:10px; }
    .blog-main{width: 100%;float: left;    padding: 60px 0;}
    .blog-main li{width: 50%;float: left;list-style-type: none;     padding: 10px;   margin-bottom: 20px;}
    .blog-main li h3{    font-size: 30px;    color: #000000; text-transform: uppercase;}
    .blog-main li p{    font-size: 16px;    color: #1c1c1c;    margin: 10px 0 0px;}
    .blog-main li a{    font-size: 16px;    color: #e03127;    margin: 0px;}

    
    .error404 header{background: #000;}
    .error-404.not-found{    width: 100%;    float: left;    margin-top: 149px;    z-index: 9;    background: transparent;    padding: 45px 0 75px;    text-align: center;}
    .error404 .search-box svg{height: 10px;width: 15px; fill:#fff;}
    .error404 .search-box .search-submit{    width: 96px;height: 40px;      border: 1px solid #e03127;}
    .error404 .search-box .search-submit{display: inline-block;background: #e03127;font-size: 15px;font-family: 'OpenSans-Bold';color: #fff;}
    .error404 .search-box .search-field{border: 1px solid #a9a9a9;height: 40px;padding: 10px;}


    .search-main{   width: 100%;    float: left;    margin-top: 149px;    z-index: 9;    background: transparent;    padding: 45px 0 75px;    text-align: center;}

    .search.search-results  header{background: #000;}
    .search-main header{ position: static;    background: transparent !important;}
    .error-404.not-found .search-box{    margin-top: 20px;}

    .main-content-default{padding: 60px 0;width: 100%;float: left;}

    /*--custom css--*/
    button.single_add_to_cart_button.button.alt , .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
        color: #e03127;
        font-family: 'OpenSans-Bold';
        font-size: 13px;
        border: 2px solid #e03127;
        display: inline-block;
        padding: 9px 18px;
        text-transform: uppercase;
        background-color: transparent;
        margin-top: 16px;
    }
    .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover
    {background-color: transparent; color: #e03127;}
    .woocommerce .cart_totals .wc-proceed-to-checkout a.checkout-button{width: 100%; padding:11px 18px;}
    .cart_totals h2 { font-size: 23px; line-height: 24px; margin-bottom: 15px;}
    .woocommerce div.product form.cart .button { box-shadow: none;  outline: none;}
    .woocommerce-product-details__short-description h3 {    font-size: 20px;    margin: 10px 0;}
    h1.product_title.entry-title {  font-size: 28px;}
    .single-product.woocommerce .woocommerce-breadcrumb, .woocommerce div.product .product_title{display: none;}
    .event-details-inner { float: left; width: 100%; margin-top: 50px;}
    .woocommerce-page form .form-row textarea.input-text{height: 133px;}
    .select2-container--default .select2-selection--single .select2-selection__arrow { top: 10px; right: 5px;}


    /* ==== media styling ==== */

    @media only screen and (max-width: 1400px){

        .classes .slick-prev.slick-arrow {  left: -15px;}
        .classes .slick-next.slick-arrow {  right: -20px;}
        .contact-details .contact-details-inner {  width: 90%;}
        .about-flip .facilities-offers h3 {  padding-bottom: 23px;}
    }

    @media only screen and (max-width: 1200px){
        .main_header {    padding: 8px 0;}
        div#brand_menu li {  padding:5px 3px;}
        div#brand_menu li a{ font-size: 13px;}
        .brand_logo {  left: 0px;top: -32px;}
        .brand_logo a img{ max-width: 90px;}
        .classes .slick-next.slick-arrow {  right: 0px;z-index: 9999;}
        .classes .slick-prev.slick-arrow {  left: 0px;z-index: 9999;}

        .classes .class-inner .content-box a {  width: 100%;}
        .classes .class-inner .content-box a {  width: 100%;} 

        .contact-details .contact-details-inner {  width: 100%;}
        .follow-us-main .followus-twitter {  width: 175px;}
        .footer-menu ul li {    padding: 0 6px;}


        .event-listing ul.listing li .button-list a.viewBtn {  padding: 10px 6px;}
        .shop-list ul.listing li .button-list a.viewBtn {  padding: 10px 6px;}
        .event-listing ul.listing li .event-details p {  font-size: 14px;  line-height: 17px;}
        .page-template-classes .event-listing ul.listing li .event-details p {  padding-bottom: 30px;}
        .event-listing ul.listing li h3 {  font-size: 14px;}

        .newsletter-main .newsletter input[type="submit"] {  margin-right: 0;  width: 28%;}
        .newsletter-main .newsletter input[type="email"] {  width: 66%;}
        .newsletter-main .newsletter h2 {  line-height: 20px;}

        .team-member-main li .about-member a.member-name {  font-size: 18px;}
        .team-member-main li .about-member a.member-position {  font-size: 12px;}
    }


    @media only screen and (max-width: 991px){
        .main_header {  margin-top: 35px;}
        .brand_logo {  left: 0;  top: -104px;}
        div#brand_menu li {  padding: 5px 2px;}
        div#brand_menu li a {  font-size: 11px;}
        .contact-details-inner li h3 {  padding-left: 55px;}
        .contact-details .contact-details-inner {padding: 77px 15px 70px;}
        .contact-details-inner li h3 span {  font-size: 13px;}
        .contact-details-inner li h3 {  font-size: 18px;}
        .aboutusP .content h3 {  font-size: 16px;}
        .classes .slick-prev.slick-arrow {  left: 0px;}
        .classes .slick-next.slick-arrow {  right: 0px;}
        .about-flip .welcome-flip-inner {  padding: 65px 5px 71px 65px;  width: 100%;}
        .about-flip .facilities-offers {  padding: 65px 5px 70px 65px;  width: 100%;}
        .about-flip .welcome-flip-inner h3 {  font-size: 18px;  line-height: 25px;  padding-bottom: 20px;}
        .about-flip .facilities-offers h3 {  font-size: 18px;  line-height: 25px;  padding-bottom: 20px;}


        .follow-us-main .aboutusP{width: 100%;float: left;}
        .follow-us-main .follow-us{width: 100%;float: left;}
        .follow-us-main .followus-twitter {  width: 50%;}


        .copyright{padding-top: 15px;}
        .copyright .custom-html-widget {    text-align: center;}
        .footer-menu ul {    text-align: center;}
        .event-listing ul.listing li .button-list a.viewBtn {   padding: 10px 16px;text-align: center;}
        .event-listing ul.listing li .button-list a.viewBtn.addcart {margin-top:0px; }
        .event-listing ul.listing li {  width: 48%;margin-right: 3%;margin-bottom:3%; }
        .event-listing ul.listing li:nth-child(2n) { margin-right:0; }


        .shop-list ul.listing li .button-list a.viewBtn {  padding: 10px 16px;}
        .shop-list ul.listing li .button-list a.viewBtn.addcart {margin-top:0px; }

        .shop-list ul.listing li {   width: 48%;margin-right: 3%;margin-bottom:3%;} 
        .shop-list ul.listing li:nth-child(2n) { margin-right:0; } 
        .shop-list {  padding-top: 40px;}

        .team-member-main li .about-member {  padding: 15px 0 0;}

    }
    @media only screen and (min-width: 768px){
        .brand_menu{width: 100%;float: left;display: inline-block;height: auto !important;}
    }



    @media only screen and (max-width: 767px){

        span.social_icons {  border-right: none;}
        .slider_content {  padding: 300px 0 250px;}
        .main_header {  margin-top: 0;}
        .slider_content h3 {  font-size: 20px;}

        .slider .slick-next.slick-arrow {  right: 0;}
        .slider .slick-prev.slick-arrow {  left: 0;}

        .about-flip .welcome-flip , .about-flip .facilities{float: left;}
        .contact-main .map {  float: left;  width: 100%;}
        .contact-main .contact-details {  float: left;  width: 100%;}
        .classes .slick-prev.slick-arrow {  left: 15px;}
        .classes .slick-next.slick-arrow {  right: 0;}
        .copyright .custom-html-widget {  padding-top: 15px;  text-align: center;}
        .copyright{width: 100%;float: left;}
        .footer-menu ul li {  border-right: none;  float: left;  text-align: center;  width: 100%;padding: 5px 0; }
        .rating-main ul li {  vertical-align: top;  width: 100%;margin: 0;}
        div#brand_menu li {  padding: 5px 2px;  text-align: left;  width: 100%;}

        .navbar-toggle {  background-color: #000;  border: 1px solid #fff;}
        .navbar-toggle .icon-bar {  background-color: #e03127;}

        .brand_menu{width: 100%;float: left;display: none;  padding-top: 15px;}
        .brand_logo {  left: 0;  top: -22px;}
        span.social_icons {  display: block;}
        .gallery-inner ul li {  width: 50%;}

        .follow-us-main .followus-facebook {  width: 100%; }
        .follow-us-main .followus-twitter {  width: 100%;margin-top: 15px;}


        .classes .heading-main h3 {  font-size: 18px;  line-height: 30px;  padding: 15px 42px;  top: -34px;}
        .rating-main ul li {  padding: 10px 15px;}



        .banner-common {  padding: 240px 0 50px;}
        .banner-common h1 {  font-size: 36px;text-align: center;}
        .upcoming-events-inner h3.upcoming-heading {  font-size: 22px; text-align: center;}
        .event-listing p {  font-size: 13px;  text-align: center;}
        .event-listing p a{  font-size: 13px; }
        .event-listing ul.listing li h3 {  text-align: center;}
        .event-listing ul.listing li .event-details {  text-align: center;} 
        .upcoming-events-inner h3 span {  font-size: 28px;  line-height: 35px;}
        .shop-list h3 {  font-size: 20px;}
        .upcoming-events {  padding: 66px 0;}
        .event-listing ul.listing li .button-list a.viewBtn {  width: 100%;}
        .event-listing ul.listing li .button-list a.viewBtn.addcart {  margin-top: 15px;}
        .event-listing ul.listing li .event-details p {  font-size: 13px;  line-height: 15px;}

        .shop-list ul.listing li .button-list a.viewBtn {  width: 100%;text-align: center;}
        .shop-list h3 {  text-align: center;}
        .shop-list p {  text-align: center;}
        .shop-list ul.listing li .button-list a.viewBtn.addcart { margin-top: 15px;}
        .event-details-main .event-details-inner .content {   padding-top: 15px; }
        .event-details-main .event-details-inner h3 {  float: left;  font-size: 22px;  text-align: center;  padding-bottom: 10px;  width: 100%;}
        .event-details-main .event-details-inner p {  text-align: center;}

        .page-template-classes .required-attire h3 {  text-align: center;}
        .page-template-classes .term-classes > h3 {  text-align: center;font-size: 22px;}
        .page-template-classes .month-classes > h3 {  text-align: center;font-size: 22px;}

        .padding-left{padding-left: 15px;}
        .padding-right{padding-right: 15px;}
        .cpara {    text-align: center;}
        .contact-form-main .wpcf7 .submitBtn input {    margin-right: 0;}
        .contact-box{height: auto !important;}
        .contact-form-main .wpcf7 .left {  width: 100%;}
        .contact-form-main .wpcf7 .right {  width: 100%;}
        .contact-form-main div.wpcf7-validation-errors {  text-align: center;}
        .newsletter-main .newsletter h2 {  text-align: center;}
        .newsletter-main .paypal p {  text-align: center;} 
        .newsletter-main p {  text-align: center;}
        .newsletter-main {  padding: 47px 15px;}
        .contact-form-main .form-inner {  padding: 45px 15px !important;}
        .contact-form-main .form-para p {  text-align: center;}

        .content-aboutus .post-content {  float: left;  text-align: center;  width: 100%;}
        .content-aboutus .image-abouts {  width: 100%;}
        .content-aboutus .image-abouts img {    height: auto;}

        .team-member-main .achievements li {  width: 100%;margin-bottom:15px;margin-right: 0; }
        .team-member-main li .about-member {  text-align: center;}
        .error404 .error-404.not-found img{max-width:450px;  width: 100%;}
        .blog-main li {    text-align: center;width: 100%;}


        .search-main h1{    font-size: 27px;}
        .page-template-default p {    text-align: center;}
        .page-template-default p label , .page-template-default p span { text-align: left;}
    }

    @media only screen and (max-width: 479px){
        .gallery-inner ul li {  width: 100%;}

        .banner-common h1 {  font-size: 30px;}
        .upcoming-events-inner h3 span {  font-size: 22px;}
        .upcoming-events-inner h3.upcoming-heading {  font-size: 16px;}
        .shop-list h3 {  font-size: 16px;text-align: center;}
        .shop-list p {  font-size: 13px;text-align: center;}
        .shop-list p a {  font-size: 13px;}

        .event-listing ul.listing li {  margin-bottom:10%;  margin-right: 0;  width: 100%;}
        .shop-list ul.listing li {  margin-bottom: 10%;  margin-right: 0;  width: 100%;}
        .event-listing ul.listing li .event-details p {  font-size: 15px;  line-height: 18px;}

        .newsletter-main .newsletter input[type="submit"] {  margin-top: 15px;  width: 100%;}
        .newsletter-main .newsletter input[type="email"] { width: 100%;}
        .contact-form-main .wpcf7 .submitBtn input {  width: 100%;}

        .error404 .error-404.not-found img{width: 100%;}

        .error404 .search-box .search-field {border: 1px solid #a9a9a9;height: 40px;padding: 10px;margin-bottom: 10px;width: 100%;    margin-top: 10px;}
        .error404 .search-box  {    margin-top: 20px;    width: 100%;    float: left;}

    }

/* Common CSS */
*{margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box;}
.zero-padding{padding:0;}
.no-margin{margin: 0;}
a ,a:hover{display: inline-block;color:#000;}
.form-control:focus{border-color:#ccc;box-shadow: none;}
a:focus{outline:0;}

.bg-color{background-color:grey;}
.form-cover{background: #fff;padding: 30px;margin:30px 0;}
.full-width{float:left;width:100%;}
.padding-medium{padding:10px 0 30px;}
.label-space{padding: 0 15px;margin-bottom: 10px;font-size: 13px;}
.form-separter{border-bottom: 2px dashed #ccc;padding-bottom: 20px;}
.form-padding{padding:30px 0;}
.input-styling{border:none;box-shadow: none;border-bottom: 1px solid #ccc;border-radius: 0;}
.text-center.padding-medium h3{margin-top: 0;}

/*form2 */
.email-label{font-size: 11px;}
.form-cover .form2{font-size: 20px;}



@media only screen and (max-width: 767px) {
    .form-cover{padding:5px;}
    .text-center.padding-medium h3{font-size:18px;}
  

}
.wpb_wrapper {
    font-size: 15px;
    color: #1c1c1c;
    line-height: 24px; 
}
   